<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title></title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
   <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
   <script type="text/javascript" th:src="@{/js/dateFormat.js}"></script>
</head>
<body>

<table class="layui-table" id="table" lay-filter="whiteList"></table>

<script type="text/html" id="addWhiteList">
	<form class="layui-form" action="" lay-filter="example">
		<div style="margin-top:10px;padding-right:10px;height:130px;">
			<div class="layui-form-item">
				<label class="layui-form-label">名单类型</label>
				<div class="layui-input-block">
					<select id="type" name="type">
						<option value="0">白名单</option>
						<option value="1">黑名单</option>
					</select>
				</div>
			</div>		

			<div class="layui-form-item" >
				<label class="layui-form-label">IP地址</label>
				<div class="layui-input-block">
				<input type="text" name="ipAddr" id="ipAddr" lay-verify="ipAddr|required" autocomplete="off" placeholder="请输入IP地址" class="layui-input">
				</div>
			</div>
		</div>
	</form>
</script>
            
<script th:inline="none">
	layui.use(['laydate', 'laypage', 'layer', 'table', 'upload', 'element', 'slider', 'jquery','form'], function(){
		var laydate = layui.laydate //日期
		,laypage = layui.laypage //分页
		,layer = layui.layer //弹层
		,table = layui.table //表格
		,upload = layui.upload //上传
		,element = layui.element //元素操作
		,slider = layui.slider //滑块
		,$ = layui.jquery
		,form = layui.form; 
		
		table.render({
		  elem: '#table'
		  ,url: '/whiteList/getList' //数据接口
		  ,page: true //开启分页
		  ,toolbar: 'default' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
		  ,cols: [[ //表头
		  	  {type:'checkbox', fixed: 'left'}
		     ,{field:'id', title: 'ID', width:80, sort: true}
		     ,{field:'ipAddr', title: 'IP地址'}
		     ,{field:'type', title: '名单类型', templet: 
					function(d){
			   		if(d.type == 0){
			   			return "白名单";
			   		}else if(d.type == 1){
			   			return "黑名单";
			   		}
					return "";
			   	}
		     }
		     ,{field:'createPerson',title:'创建人'}
		     ,{field:'createTime',title:'创建时间', templet:
				function (row){
					return createTime(row.createTime);
   				}
		     }
		  ]]
		});
		
		//监听头工具栏事件
		table.on('toolbar(whiteList)', function(obj){
		  var checkStatus = table.checkStatus(obj.config.id)
		  ,data = checkStatus.data; //获取选中的数据
		  switch(obj.event){
		    case 'add':
				//新增表单
		    	layer.open({
					type: 1
			        ,title: false //不显示标题栏
			        ,closeBtn: false
			        ,area: '300px;'
			        ,shade: 0.8
			        ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
			        ,btn: ['确定', '取消']
			        ,btnAlign: 'c'
			        ,moveType: 1 //拖拽模式，0或者1
			        ,content: $('#addWhiteList').html()
			        ,success: function(layero){
			        	var btn = layero.find('.layui-layer-btn0');
			        	form.render('select');
			        	//提交按钮监听
			        	btn.on("click", function(){
			        		var ipAddr = $('#ipAddr').val();
			        		var type = $('#type').val();
			        		
			        	    //新增白名单
			        		$.ajax({ 
			    				url: "/whiteList/save", 
			    				data: {ipAddr: ipAddr, type: type},
			    				dataType: 'json',
			    				success: function(result){
			    					if(result.code == "000000"){
			    						reload();
			    					}
			    					layer.msg(result.msg);
			    				}
			    			});
			        	});
			        }
				}); 
		    	
		    break;
		    case 'update':
				if(data.length === 0){
					layer.msg('请选择一行');
				} else if(data.length > 1){
					layer.msg('只能同时编辑一个');
				} else {
					//编辑表单
			    	layer.open({
						type: 1
				        ,title: false //不显示标题栏
				        ,closeBtn: false
				        ,area: '300px;'
				        ,shade: 0.8
				        ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
				        ,btn: ['确定', '取消']
				        ,btnAlign: 'c'
				        ,moveType: 1 //拖拽模式，0或者1
				        ,content: $('#addWhiteList').html()
				        ,success: function(layero){
				        	$("#ipAddr").val(data[0].ipAddr);
				        	$('#type').val(data[0].type);
				        	form.render('select');
				        	var btn = layero.find('.layui-layer-btn0');
				        	btn.on("click", function(){
				        		var id = data[0].id;
				        		var ipAddr = $('#ipAddr').val();
				        		var type = $('#type').val();
				        	    //修改白名单
				        		$.ajax({ 
				    				url: "/whiteList/edit", 
				    				data: {id: id, ipAddr: ipAddr, type: type},
				    				dataType: 'json',
				    				success: function(result){
				    					if(result.code == "000000"){
				    						reload();
				    					}
				    					layer.msg(result.msg);
				    				}
				    			});
				        	});
				        }
					}); 
				   
				}
		    break;
		    case 'delete':
			if(data.length === 0){
				layer.msg('请选择一行');
			} else {
			
			layer.confirm('确认要删除？', {
				btn: ['确定', '取消'] //按钮
				}, function () {
				     del(data);
				}, function () {
			});
  	 
      
    }
		    break;
		  };
		});
		  
		function del(data){
			var ids = "";
	        for(var i = 0;i < data.length;i++){
	        	if(i == 0){
	        		ids = data[i].id;
	        	}else{
	        		ids += "," + data[i].id;
	        	}
	        }
        	
        	$.ajax({ 
				url: "/whiteList/delete", 
				data: {ids: ids},
				dataType: 'json',
				success: function(result){
					if(result.code == "000000"){
						reload();
					}
					layer.msg(result.msg);
				}
			});
		}
		
		function reload () {
            //执行重载
            table.reload('table', {
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
     	}
		
	});

</script>
</body>
</html>        
        