<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title></title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
   <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
   <script type="text/javascript" th:src="@{/qrcode/qrcode.js}"></script>
   <script type="text/javascript" th:src="@{/js/dateFormat.js}"></script>
   
   <style>
   </style>
</head>
<body>

<form class="layui-form" action="" lay-filter="example">
	<input type="hidden" name="id" id="id">
	<div>
		<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="redPacket">保存</button>
	</div>
	
	<hr>
   
   	<div>
   	
   		<div class="layui-form-item">
   			<div class="layui-inline">
			    <label class="layui-form-label" style="width:100px;">站点键</label>
			    <div class="layui-input-inline">
					<select id="keyId" name="keyId"></select>
			    </div>
		    
		    </div>
		    
   			<div class="layui-inline">
    			<label class="layui-form-label" style="width:100px;">站点域名</label>
			    <div class="layui-input-inline">
			      	<select id="domainId" name="domainId"></select>
			    </div>
		    </div>
		    
		    <div class="layui-inline">
    			<label class="layui-form-label" style="width:100px;">站点键对应值</label>
			    <div class="layui-input-inline">
			      	<input type="text" name="siteKeyValue" id="siteKeyValue" lay-verify="siteKeyValue|required" autocomplete="off" placeholder="请输入站点键对应值"  class="layui-input">
			    </div>
		    </div>
   		</div>
   	</div>

   	<hr>
</form>

<div class="layui-inline">
	<input class="layui-input" name="keyCnName" autocomplete="off" placeholder="请输入站点键中文名称">
</div>
<div class="layui-inline">
	<input class="layui-input" name="domainCnName" autocomplete="off" placeholder="请输入站点域名中文名称">
</div>
<button class="layui-btn" id="searchBtn" data-type="getInfo">
	<i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
</button>

<table class="layui-table" id="table" lay-filter="siteDomainKv"></table>

<script th:inline="none">
	layui.use(['laydate', 'laypage', 'layer', 'table', 'upload', 'element', 'slider', 'jquery', 'form'], function(){
		var laydate = layui.laydate //日期
		,laypage = layui.laypage //分页
		,layer = layui.layer //弹层
		,table = layui.table //表格
		,upload = layui.upload //上传
		,element = layui.element //元素操作
		,slider = layui.slider //滑块
		,$ = layui.jquery
		,form = layui.form; 
		
		//获取站点键列表和站点域名列表
		var keyList = []
		,domainList = [];
		$.ajax({ 
			url: "/siteKv/getSiteKvList", 
			data: {},
			dataType: 'json',
			async: false,
			success: function(result){
				if(result.code = '000000'){
					var obj = result.data;
					keyList = obj;
					if(obj != null){
						var option = '<option value="">请选择</option>';
						for(var i = 0;i < obj.length;i++){
							option += '<option value="' + obj[i].id + '">';
							option += obj[i].keyCnName;
							option += '</option>';
						}
						$('#keyId').html(option);
						form.render('select');
					}
				}
			}
			
		});
		
		$.ajax({ 
			url: "/siteDomain/getSiteDomainList", 
			data: {},
			dataType: 'json',
			async: false,
			success: function(result){
				if(result.code = '000000'){
					var obj = result.data;
					if(obj != null){
						var option = '<option value="">请选择</option>';
						for(var i = 0;i < obj.length;i++){
							option += '<option value="' + obj[i].id + '">';
							option += obj[i].domainCnName;
							option += '</option>';
						}
						$('#domainId').html(option);
						form.render('select');
					}
				}
			}
			
		});
		
		table.render({
			elem: '#table'
			,url: '/siteDomainKv/getList' //数据接口
			,page: true //开启分页
			,toolbar: 'default' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
			,cols: [[ //表头
				{type:'checkbox', fixed: 'left'}
			   ,{field:'id', title: 'ID', width:80, sort: true}
			   ,{field:'domainCnName', title: '站点域名中文名'}
			   ,{field:'keyCnName', title: '站点键中文名称'}
			   ,{field:'siteKeyValue', title: '站点键对应值'}
			   ,{field:'createTime',title:'创建时间', templet:
					function (row){
						return createTime(row.createTime);
     				}
			   }
// 			   ,{field:'createPerson',title:'创建人'}
			]]
		});
		
		//监听头工具栏事件
		table.on('toolbar(siteDomainKv)', function(obj){
		  var checkStatus = table.checkStatus(obj.config.id)
		  ,data = checkStatus.data; //获取选中的数据
		  switch(obj.event){
		    case 'add':
		    	resetting();
		    break;
		    case 'update':
				if(data.length === 0){
					layer.msg('请选择一行');
				} else if(data.length > 1){
					layer.msg('只能同时编辑一个');
				} else {
					var obj = data[0];
					form.val('example', {
						"id": obj.id
						,"keyId":  obj.keyId
					    ,"domainId": obj.domainId
					    ,"siteKeyValue": obj.siteKeyValue
					});
				}
		    break;
		    case 'delete':
		      if(data.length === 0){
		        layer.msg('请选择一行');
		      } else {
				layer.confirm('确认要删除？', {
					btn: ['确定', '取消'] //按钮
					}, function () {
					     del(data);
					}, function () {
				});
		      }
		    break;
		  };
		});
		
		//删除
		function del(data){
			var ids = "";
	        for(var i = 0;i < data.length;i++){
	        	
	        	if(i == 0){
	        		ids = data[i].id;
	        	}else{
	        		ids += "," + data[i].id;
	        	}
	        }
        	
        	$.ajax({ 
				url: "/siteDomainKv/delete", 
				data: {ids: ids},
				dataType: 'json',
				success: function(result){
					if(result.code == "000000"){
						reload();
					}
					
					layer.msg(result.msg);
				}
			});
		}
		
		//刷新
		function reload () {
            //执行重载
            table.reload('table', {
            	page: {
                    curr: 1 //重新从第 1 页开始
                }
	            , where: {
	        		keyCnName: $("input[name=keyCnName]").val()
	         	   ,domainCnName: $("input[name=domainCnName]").val()
	            }
            });
     	}
		
		function resetting(){
			form.val('example', {
				"id": ""
				,"keyId":  ""
			    ,"domainId": ""
			    ,"siteKeyValue": ""
			});
		}
		
		
		
		//监听提交
		form.on('submit(redPacket)', function(data){
			var url = "/siteDomainKv/save";
			if($("#id").val() != null && $("#id").val() != ''){
				url = "/siteDomainKv/edit";
			}
			$.ajax({ 
				url: url, 
				data: data.field,
				dataType: 'json',
				success: function(result){
					layer.msg(result.msg);
		        	if(result.code == "000000"){
		        		reload();
		        	}
				}
			});
			return false;
		});
		
		//查询按钮监听
		$('#searchBtn').on('click', function () {
        	reload()
        });
		  
	});
	
</script>
</body>
</html>        
