<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title></title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
   <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
   <script type="text/javascript" th:src="@{/js/dateFormat.js}"></script>
   <script type="text/html" id="barDemo">
  {{#  if(d.state){ }}
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="unValide">无效</a>
  {{#  }else{ }}
  	<a class="layui-btn layui-btn-xs" lay-event="valide">有效</a>
  {{#    } }}
  	  
  {{#  if(d.hidden){ }}
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="undisplay">隐藏</a>
  {{#  }else{ }}
  	<a class="layui-btn layui-btn-xs" lay-event="display">显示</a>
  {{#    } }}
  	  
</script>
</head>
<body>

 <div class="layui-inline"> 
  <input class="layui-input"    name="permName" autocomplete="off" placeholder="请输入权限名称"> 
 </div>
  <button class="layui-btn" id="searchBtn" data-type="getInfo" >
     <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
  </button>
  
<table class="layui-table" id="table" lay-filter="test"></table>
<script th:inline="none">
	layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element', 'slider'], function(){
		  var laydate = layui.laydate //日期
		  ,laypage = layui.laypage //分页
		  ,layer = layui.layer //弹层
		  ,table = layui.table //表格
		  ,element = layui.element //元素操作
		  ,slider = layui.slider //滑块
		  ,$ = layui.jquery; 
		  
		  table.render({
		    elem: '#table'
		    ,url: '/perm/grid' //数据接口
		    ,page: true //开启分页
		    ,toolbar: 'default' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
		    ,cols: [[ //表头
		    	  {type: 'checkbox', fixed: 'left'}
			      ,{field:'id', title: 'ID',sort: true, fixed: 'left'}
			      ,{field:'permName',title: '权限名称'}
			      ,{field:'url',title: '访问路径'}
			      ,{field:'parentName',title:'父节点'}
			      ,{field:'desc', title:'描述'}
			      ,{field:'sequence', title:'显示排序'}
			      ,{field:'createTime', width:200,title:'创建时间',
			    	  templet :function (row){
	                      return createTime(row.createTime);
	                  }    
			      }
			      ,{field:'state', title: '是否有效',align:'center',templet:function(data){
			    	  if(data.state)  {
			    		  return '<span class="layui-badge layui-bg-green">有效</span>'
			    	  }else{
			    		  return '<span class="layui-badge layui-bg-red">无效</span>'
			    	  }
			        }}
			      ,{field:'hidden', title: '是否隐藏',align:'center',templet:function(data){
			    	  if(data.hidden)  {
			    		  return '<span class="layui-badge layui-bg-green">显示</span>'
			    	  }else{
			    		  return '<span class="layui-badge layui-bg-red">隐藏</span>'
			    	  }
			        }}
			      ,{fixed: 'right', title: '操作项',align:'center', toolbar: '#barDemo'}
		    ]]
		  });
		  
		  /**
		   * 搜索框重新加载 
		   */
         function reload (curr) {
               //执行重载
               table.reload('table', {
                   page: {
                       curr: curr //重新从第 1 页开始
                   }
                   , where: {
                	   permName: $("input[name=permName]").val()
                   }
               });
        }
		  
        $('#searchBtn').on('click', function () {
        	reload(1)
        });

        //监听头工具栏事件
        table.on('toolbar(test)', function(obj){
          var checkStatus = table.checkStatus(obj.config.id)
          ,data = checkStatus.data; //获取选中的数据
          switch(obj.event){
            case 'add':
            	add();
            break;
            case 'update':
              if(data.length === 0){
                layer.msg('请选择一行');
              } else if(data.length > 1){
                layer.msg('只能同时编辑一个');
              } else {
            	  update(data[0]);
              }
              
            break;
            case 'delete':
              if(data.length === 0){
                 layer.msg('请选择一行');
              } else {
            	layer.confirm('确认要删除？', {
            	 btn: ['确定', '取消'] //按钮
            	}, function () {
                  del(data);
            	}, function () {
            	});
              }
            break;
          };
        });
        
        /**
         *监听事件操作项
         */
        table.on('tool(test)', function(obj){ 
        	var layEvent = obj.event;
        	var data = obj.data;
        	//无效
        	if(layEvent == 'unValide'){
        		handle(data.id,false,'valide');
        	}
        	//有效
        	if(layEvent == 'valide'){
        		handle(data.id,true,'valide');
        	}
        	//禁用
        	if(layEvent == 'undisplay'){
        		handle(data.id,false,'display');
        	}
        	//启用
        	if(layEvent == 'display'){
        		handle(data.id,true,'display');
        	}
        	
        });
        
        //操作项操作
        function handle(id,value,type){
        	$.ajax({
     		    url:'/perm/updateState'
               ,data:{id:id,type:type,value:value}
               ,beforeSend:function () {
                   this.layerIndex = layer.load(0, {shade: [0.5, '#393D49']});
               }
               ,success:function(data){
             	  if(data.code == "000000"){
             		  reload($(".layui-laypage-skip .layui-input").val());
             	  }
             	  layer.msg(data.msg);
             	  layer.close(this.layerIndex);
               }
               ,complete: function (){
             	  layer.close(this.layerIndex);
               }
     	  })
        }
        
       /**
        * 删除
        */
       function del(data){
    	 var ids = "";
    	 for(var i = 0 ;i<data.length;i++){
    	 	ids = ids + data[i].id + ',';
    	 }
    	 $.ajax({
    		   url:'/perm/del'
              ,data:{ids:ids}
              ,beforeSend:function () {
                  this.layerIndex = layer.load(0, {shade: [0.5, '#393D49']});
              }
              ,success:function(data){
            	  if(data.code == "000000"){
            		  reload(1);
            	  }
            	  layer.msg(data.msg);
            	  layer.close(this.layerIndex);
              }
              ,complete: function (){
            	  layer.close(this.layerIndex);
              }
    	 })
      } 
       
       function add(data){
    	   window.location.href='/perm/redirect';
       } 
      
       function update(data){
    	   window.location.href='/perm/redirect?permId='+data.id;
       }
	});
</script>
</body>
</html> 