<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title></title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
   <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
   <style type="text/css">
/**treeselect*/
.layui-form-select .layui-tree {
    display: none;
    position: absolute;
    left: 0;
    top: 42px;
    padding: 5px 0;
    z-index: 999;
    min-width: 100%;
    border: 1px solid #d2d2d2;
    max-height: 300px;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0,0,0,.12);
    box-sizing: border-box;
}
.layui-form-selected .layui-tree {
    display: block;
}
</style>
</head>
<body><!-- 
活动面积页面<p th:text="${id}"></p> -->
	<form class="layui-form"  action="" lay-filter="permForm" >
     <input type="hidden" name="id" id="id" th:value="${id}" autocomplete="off" class="layui-input">
		<div>
			<button class="layui-btn" lay-submit=""  lay-filter="saveperm">保存</button>
			<button type="button" class="layui-btn layui-btn-primary" id="back">返回</button>
		</div>
		<hr>
    	<div>
    		<div class="layui-form-item">
    			<div class="layui-inline">
	    			<label class="layui-form-label">权限名称</label>
				    <div class="layui-input-inline">
				      <input type="text" name="permName" id="permName" lay-verify="permName|required" autocomplete="off" placeholder="请输入用户名" class="layui-input">
				    </div>
			    </div>
    		</div>
    		
    		 <div class="layui-form-item">
			    <label class="layui-form-label">父节点</label>
			    <div class="layui-input-inline">
			      <input type="text" name="parentId" value='0' lay-verify="parentId" id="parentId" placeholder="请输入父节点" autocomplete="off" class="layui-input">
			    <!--  <input type="text" id="treeselecttest" placeholder="模块" autocomplete="off" class="layui-input"> -->
			    </div>
			    <div class="layui-form-mid layui-word-aux">从权限列表页获取ID，不填写默认放在根目录下</div>
  			</div>
  			
  			 <div class="layui-form-item">
			    <label class="layui-form-label">访问路径</label>
			    <div class="layui-input-inline">
			      <input type="text" name="url" id="url"   lay-verify="url" placeholder="请输入访问路径" autocomplete="off" class="layui-input">
			    </div>
  			</div>
  			
  			<div class="layui-form-item">
    			<div class="layui-inline">
	    			<label class="layui-form-label">图标</label>
				    <div class="layui-input-inline">
				      <input type="text" name="icon"  autocomplete="off" placeholder="请选择图标值" class="layui-input">
				    </div>
			    </div>
    		</div>
    		
    		<div class="layui-form-item">
	    			<label class="layui-form-label">菜单排序</label>
				    <div class="layui-input-inline">
				      <input type="text" name="sequence"  autocomplete="off" class="layui-input">
				    </div>
			    <div class="layui-form-mid layui-word-aux">菜单排序为菜单显示顺序，同一级菜单，按顺序累加</div>
    		</div>
    		
    		<div class="layui-form-item">
			      <label class="layui-form-label">是否操作项</label>
			      <div class="layui-input-inline">
				      <input type="radio" name="isAction" value="false" title="否" checked>
				      <input type="radio" name="isAction" value="true" title="是" >
			      </div>
			   <div class="layui-form-mid layui-word-aux">操作项【是】为页面的按钮操作，如增、删、改、查、下载、上传等，【否】为菜单</div>
			</div>
    		
    		<div class="layui-form-item">
	    			<label class="layui-form-label">是否显示</label>
				    <div class="layui-input-inline">
				      <input type="radio" name="hidden" value="false" title="否" >
				      <input type="radio" name="hidden" value="true" title="是" checked>
			   		</div>
			    <div class="layui-form-mid layui-word-aux">否表示菜单隐藏</div>
    		</div>
    		
    		 <div class="layui-form-item">
    		  <div class="layui-inline">
			    <label class="layui-form-label">描述</label>
			    <div class="layui-input-block">
			      <textarea placeholder="请输入内容"  name="desc" class="layui-textarea"></textarea>
			    </div>
			   </div>
  			</div>
    	</div>
    </form>
	<script th:inline="none">
	//config的设置是全局的
	layui.config({
	    base:'/js/' //假设这是test.js所在的目录
	}).use(['form', 'layedit', 'laydate','jquery','element','treeselect'], function(){
			var form = layui.form
			,layer = layui.layer
			,layedit = layui.layedit
			,laydate = layui.laydate
			,$ = layui.jquery
			,element = layui.element;
			
			//自定义验证规则
			form.verify({
				permName:function(value){
					if(!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)){ 
						return '用户名不能有特殊字符'; 
				    } 
				}
			,url:function(value){
				
			}
		   }); 
			
			$("#parentId").bind('input propertychange', function () {
				
		    });
			
			//监听提交
		    form.on('submit(saveperm)', function(data){
			   if($("#id").val()!=null&&""!=$("#id").val()){
					url = '/perm/updatePerm';
					 data.field.id = $("#id").val();
			   }else{
					url = '/perm/add';
					data.field.id = 0;
			   }
		       $.ajax({
		    		   url:url
		    		  ,data: data.field
					  ,dataType: 'json'
		              ,beforeSend:function () {
		                  this.layerIndex = layer.load(0, {shade: [0.5, '#393D49']});
		              }
		              ,success:function(data){
		            	  layer.msg(data.msg);
		            	  layer.close(this.layerIndex);
		            	  if(data.code == "000000"){
			            	  window.location.href='/perm/list';
		            	  }
		              }
		              ,complete: function (){
		            	  layer.close(this.layerIndex);
		              }
		       })
			   return false;
			 }); 
			
		    if($("#id").val()!=null&&""!=$("#id").val()){
				$.ajax({
					 url:"/perm/queryById"
					,data:{id:$("#id").val()}
					,success:function(res){
						var data  = res.data;
					  if(res.code="000000"){
						  if(data.isAction == false){
							$("input[name=isAction][value=false]").attr("checked",true)
						  }else{
						    $("input[name=isAction][value=true]").attr("checked", true)
						  }
						  
						  if(data.hidden == false){
							$("input[name=hidden][value=false]").attr("checked",true)
						  }else{
							$("input[name=hidden][value=true]").attr("checked", true)
					      }

						form.val('permForm', {
							"permName": data.permName
							,"parentId":data.parentId
							,"url":data.url
							,"icon":data.icon
							,"sequence":data.sequence
						    ,"desc": data.desc
						  });
					   }
					}
				    ,complete: function (){}
				})
     		}
             
			 
		 //监听提交
		 $("#back").on('click',function(){
		   window.location.href='/perm/list';
		 })
		 form.render();
		});
	</script>
</body>
</html>        