.leftBox{
	display: inline-block;
	width: 30%;
	vertical-align:top;
}
.rightBox {
	display: inline-block;
	width: 65%;
	margin-left: 10px;
}
.prompt {
	height: 38px;
	line-height: 38px;
	color: #777;
}