<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title></title>
  <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
  <style type="text/css">
  	.leftBox{
  		display: inline-block;
  		width: 27%;
  		vertical-align:top;
  	}
  	.rightBox {
  		display: inline-block;
  		width: 65%;
  		margin-left: 10px;
  	}
  	.prompt {
  		height: 38px;
	    line-height: 38px;
	    color: #777;
  	}
  	#contentBox {
  		width: 100%;
  	}
  	.layui-btn-sm {
  		margin-right: 10px;
  		margin-bottom: 10px;
  	}
  	.layui-btn+.layui-btn {
  		margin-left: 0px;
  	}
  </style>
</head>
<body>
	<div class="leftBox">
		<div class="layui-collapse" lay-filter="test">
	  		<div class="layui-colla-item">
	    		<h2 class="layui-colla-title">群发消息</h2>
	    		<div class="layui-colla-content layui-show">
	    			<a class="layui-btn layui-btn-primary layui-btn-sm taskBtn" id="groupingBtn" data-type="getInfo">
						微信拉人进群
					</a>
					<a class="layui-btn layui-btn-primary layui-btn-sm taskBtn" id="qqGroupingBtn" data-type="getInfo">
						QQ拉人进群
					</a>
	    		</div>
	    	</div>
	  		<div class="layui-colla-item">
	    		<h2 class="layui-colla-title">添加好友</h2>
	    		<div class="layui-colla-content layui-show">
	    			<a class="layui-btn layui-btn-primary layui-btn-sm taskBtn" id="addFriendBtn" data-type="getInfo">
						微信添加好友
					</a>
	    			<a class="layui-btn layui-btn-primary layui-btn-sm taskBtn" id="qqAddFriendBtn" data-type="getInfo">
						QQ添加好友
					</a>
					<a class="layui-btn layui-btn-primary layui-btn-sm taskBtn" id="wxAddFriendCheckBtn" data-type="getInfo">
						微信添加好友检查
					</a>
					<a class="layui-btn layui-btn-primary layui-btn-sm taskBtn" id="qqAddFriendCheckBtn" data-type="getInfo">
						QQ添加好友检查
					</a>
	    		</div>
	    	</div>
	    	<!-- <div class="layui-colla-item">
	    		<h2 class="layui-colla-title">阅读消息</h2>
	    		<div class="layui-colla-content layui-show">
	    			<a class="layui-btn layui-btn-primary layui-btn-sm taskBtn" id="readMessageBtn" data-type="getInfo">
						阅读消息
					</a>
	    		</div>
	    	</div> -->
	    	<div class="layui-colla-item">
	    		<h2 class="layui-colla-title">养号设置</h2>
	    		<div class="layui-colla-content layui-show">
	    			<!-- <a class="layui-btn layui-btn-primary layui-btn-sm taskBtn" id="sendMessageBtn" data-type="getInfo">
						发送消息
					</a>
					
					<a class="layui-btn layui-btn-primary layui-btn-sm taskBtn" id="sendVoiceCallBtn" data-type="getInfo">
						发送语音
					</a>
					
					<a class="layui-btn layui-btn-primary layui-btn-sm taskBtn" id="sendVideoCallBtn" data-type="getInfo">
						发送视频
					</a>
					
					<a class="layui-btn layui-btn-primary layui-btn-sm taskBtn" id="readMomentsBtn" data-type="getInfo">
						阅读朋友圈
					</a> -->
					
					<a class="layui-btn layui-btn-primary layui-btn-sm taskBtn" id="serviceAccountBtn" data-type="getInfo">
						养号设置
					</a>
	    		</div>
	    	</div>
	    </div>
	</div>
	
	<div class="rightBox">
		<iframe scrolling="auto" id="contentBox" frameborder="0" src="" class="layadmin-iframe"></iframe>
	</div>
		
<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/js/dateFormat.js}"></script>

<script th:inline="none">
	layui.use(['laydate', 'layer', 'element', 'jquery','form'], function(){
		var laydate = layui.laydate //日期
		,layer = layui.layer //弹层
		,element = layui.element //元素操作
		,$ = layui.jquery
		,form = layui.form; 
		
		$('body').height(window.parent.document.documentElement.clientHeight);
		$('#contentBox').height($('body').height() - 170);
		
		//任务按钮监听
		$('.taskBtn').on('click', function(){
			//改变按钮
			$('.taskBtn').removeClass('layui-btn-normal');
			$('.taskBtn').removeClass('layui-btn-primary');
			$('.taskBtn').addClass('layui-btn-primary');
			$(this).addClass("layui-btn-normal");
			$(this).removeClass("layui-btn-primary");
			//改变表单
			var id = $(this).attr("id");
			$('#contentBox').attr('src', "/task/taskPage?pageName=" + id.substring(0, id.length - 3));
		});
		
	});
	
</script>


</body>
</html>        
