<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title></title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
   <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
   <script type="text/javascript" th:src="@{/js/dateFormat.js}"></script>
   <script type="text/javascript" th:src="@{/js/echarts/echarts.min.js}"></script>
</head>
<body>

<form class="layui-form">
<div class="layui-inline">
	<input class="layui-input" id="accountName" autocomplete="off" placeholder="好友号码">
</div>
<div class="layui-inline">
	<input class="layui-input" id="remarkName" autocomplete="off" placeholder="备注名称">
</div>


<div class="layui-inline">
    <select id="state" name="state" >
		<option value="">请选择状态</option>
		<option value="1">新增</option>
		<option value="2">已分配未添加</option>
		<option value="3">已申请添加</option>
		<option value="4">添加成功</option>
		<option value="6">已回复</option>
		<option value="5">添加失败</option>
	</select>
</div>

<div class="layui-inline">
	<input class="layui-input" id="targetAccount" autocomplete="off" placeholder="添加到目标">
</div>

<div class="layui-inline" >
  <div class="layui-input-inline">
     <input type="text" name="startCTime" id="startCTime" lay-verify="startCTime|required" autocomplete="off" placeholder="创建开始时间" class="layui-input">
  </div>
</div>
			    
<div class="layui-inline" >
 <div class="layui-input-inline">
   <input type="text" name="endCTime" id="endCTime" lay-verify="endCTime|required" autocomplete="off" placeholder="创建结束时间"  class="layui-input">
 </div>
</div>

<div class="layui-inline" >
  <div class="layui-input-inline">
     <input type="text" name="startUTime" id="startUTime" lay-verify="startUTime|required" autocomplete="off" placeholder="更新开始时间" class="layui-input">
  </div>
</div>
			    
<div class="layui-inline" >
 <div class="layui-input-inline">
   <input type="text" name="endUTime" id="endUTime" lay-verify="endUTime|required" autocomplete="off" placeholder="更新结束时间"  class="layui-input">
 </div>
</div>

<a class="layui-btn" id="searchBtn" data-type="getInfo">
	<i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
</a>


<div  class="layui-inline">
  <a class="layui-btn"    id="echart" >图表</a>
  <a class="layui-btn"   style="display:none"  id="etable" >列表</a>
  <a class="layui-btn layui-btn-normal" id="expord" lay-filter="expord">按条件导出纪录</a>
</div>


</form>
 <div id="tableDiv" > 
     <table class="layui-table" id="table" lay-filter="test"></table>
 </div>
 <div id="echartDiv" style="margin:20px 0px 0px 5px;width:100%;height:600px;" > </div>

<script type="text/html" id="opColumn">
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit">编辑 </a>
	<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除 </a>
</script>

<script th:inline="none">
	layui.use(['laydate', 'laypage', 'layer', 'table', 'upload', 'element', 'slider', 'jquery','form'], function(){
		var laydate = layui.laydate //日期
		,laypage = layui.laypage //分页
		,layer = layui.layer //弹层
		,table = layui.table //表格
		,upload = layui.upload //上传
		,element = layui.element //元素操作
		,slider = layui.slider //滑块
		,$ = layui.jquery
		,isEcharts = false
		,form = layui.form; 
		
		form.render("select"); 
		
		table.render({
			elem: '#table'
			,url: '/accountdata/getlst'
			,page: true
			,toolbar: 'default' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
			,cols: [[
				{type:'checkbox', fixed: 'left'}
			    ,{field:'id', title: 'ID', width:80, sort: true}
			    ,{field:'accountName', title: '好友号码'}
			    ,{field:'remarkName', title: '备注名称'}
			    ,{field:'state',title:'状态', templet: 
			    	function(row){
				    	if(row.state == 1){
			    			return '<a class="layui-btn layui-btn-xs layui-btn-normal">新增 </a>';
			    		}else if(row.state == 2){
			    			return '<a class="layui-btn layui-btn-xs layui-btn-primary">已分配未添加 </a>'
			    		}else if(row.state == 3){
			    			return '<a class="layui-btn layui-btn-xs layui-btn-primary">已申请添加</a>'
			    		}else if(row.state == 4){
			    			return '<a class="layui-btn layui-btn-xs layui-btn-primary">添加成功</a>'
			    		}else if(row.state == 5){
			    			return '<a class="layui-btn layui-btn-xs layui-btn-primary">添加失败</a>'
			    		}else if(row.state == 6){
			    			return '<a class="layui-btn layui-btn-xs layui-btn-primary">已回复</a>'
			    		}
			    		return '';
			    	}	
			    }
			    ,{field:'targetAccount', title: '添加到目标',templet: 
			    	function(row){
			    	   var val = row.targetAccount
			    	   if(val!=null&&''!=val){
			    		   return val.split('&')[0]
			    	   }
		    		   return '';
		    	}	}
			    ,{field:'createTime',title:'在线时间', templet: 
			    	function(row){
			    		return createTime(row.createTime);
			    	}	
			    },
			    {field:'upateTime',title:'更新时间', templet: 
			       function(row){
		    		    return createTime(row.updateTime);
		    	   }	
		        }
			]]
		});
		
		//监听单元格编辑
		table.on('edit(device)', function(obj){
			var value = obj.value //得到修改后的值
			,data = obj.data //得到所在行所有键值
			,field = obj.field; //得到字段
			
			saveOrEdit(data);
			
		});
		
		//监听头工具栏事件
        table.on('toolbar(test)', function(obj){
          var checkStatus = table.checkStatus(obj.config.id)
          ,data = checkStatus.data; //获取选中的数据
          switch(obj.event){
            case 'add':
            	add();
            break;
            case 'update':
              if(data.length === 0){
                layer.msg('请选择一行');
              } else if(data.length > 1){
                layer.msg('只能同时编辑一个');
              } else {
            	  update(data[0]);
              }
              
            break;
            case 'delete':
              if(data.length === 0){
                 layer.msg('请选择一行');
              } else {
            	layer.confirm('确认要删除？', {
            	 btn: ['确定', '取消'] //按钮
            	}, function () {
                  del(data);
            	}, function () {
            	});
              }
            break;
          };
        });
		
          /**
            * 删除
			*/
			function del(data){
				var ids = "";
				for(var i = 0 ;i<data.length;i++){
					ids = ids + data[i].id + ',';
				}
				
				$.ajax({
					url:'/accountdata/del'
					,data:{ids:ids}
					,beforeSend:function () {
					   this.layerIndex = layer.load(0, {shade: [0.5, '#393D49']});
					}
					,success:function(data){
						  if(data.code == "000000"){
							  reload(1);
						  }
						  layer.msg(data.msg);
						  layer.close(this.layerIndex);
					}
					,complete: function (){
						  layer.close(this.layerIndex);
					}
				})
			} 
		
		//新增或编辑
		function saveOrEdit(data){
			//参数验证
// 			alert(JSON.stringify(data));
			if(data.deviceNum == null || data.deviceNum.trim() == ""){
				layer.msg("请填写设备编号");
				return false;
			}else if(data.deviceType == null || data.deviceType.trim() == ""){
				layer.msg("请填写设备型号");
				return false;
			}
			
			delete data.onlineTime;
			
			$.ajax({ 
				url: '/device/edit', 
				data: data,
				dataType: 'json',
				success: function(result){
					layer.msg(result.msg);
		        	if(result.code == "000000"){
		        		reload();
		        	}
				}
			});
		}
		
		//查询按钮监听
		$('#searchBtn').on('click', function () {
        	reload()
        });
		
		function add(){
	       window.location.href='/accountdata/toAdd';
	    } 
		
		//监听提交
	 	$('#echart').on('click', function () {
			   $("#tableDiv").hide();
			   $('#echartDiv').show();
			   $("#echart").hide();
			   $('#etable').show();
			   isEcharts = true;
		});
		//加载页面就隐藏
	
	 	$('#etable').on('click', function () {
			   $('#tableDiv').show();
			   $("#echartDiv").hide();
			   $("#etable").hide();
			   $("#echart").show();
	 	});
		
		//刷新
		function reload () {
			console.log("刷新");
			table.reload('table', {
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            	, where: {
            		accountName: $("#accountName").val()
             	    ,remarkName: $("#remarkName").val()
             	    ,state:$("#state").val()
             	    ,startCTime:$("#startCTime").val()
					,endCTime:$("#endCTime").val()
					,startUTime:$("#startUTime").val()
					,endUTime:$("#endUTime").val()
					,targetAccount:$("#targetAccount").val()
                }
            });
			loadEchartData();
     	}
		
		function update(data){
	    	   window.location.href='/accountdata/redirect?id='+data.id+"&accountName="+data.accountName+"&remarkName="+data.remarkName+"&applicationTerms="+data.applicationTerms+"&state="+data.state;
	    }
		
		
		function loadEchart(data){
	 		var myChart = echarts.init(document.getElementById('echartDiv'));
	 		var xaxis = ["新增","已分配未添加","已申请添加","添加成功","添加失败","已回复"];
	 	    // 指定图表的配置项和数据
	 	    var option = {
	 	        title: {
	 	            text: '微信添加好友情况统计'
	 	        },
	 	        tooltip: {},
	 	        legend: {
	 	            data:['微信好友数量']
	 	        },
	 	        xAxis: {
	 	            data: xaxis
	 	        },
	 	        yAxis: {},
	 	        series: [{
	 	            name: '微信好友数量',
	 	            type: 'bar',
	 	            data: data
	 	        }]
	 	    };
	 	    // 使用刚指定的配置项和数据显示图表。
	 	    myChart.setOption(option);
	 	}
		
	 	function loadEchartData(){
	 		$.ajax({ 
				url:'/accountdata/wechatStatistic', 
				data: {
					 accountName: $("#accountName").val()
					,remarkName: $("#remarkName").val()
	             	,state: $("#state").val()
					,startCTime:$("#startCTime").val()
					,endCTime:$("#endCTime").val()
					,startUTime:$("#startUTime").val()
					,endUTime:$("#endUTime").val()
					,targetAccount:$("#targetAccount").val()
				},
				dataType: 'json',
				success: function(result){
		        	if(result.code == "000000"){
		        		loadEchart(result.data)
		        		if(!isEcharts){
		        			 $("#echartDiv").hide();	
		        		}
		        	}
				}
			});
	 	}
	 	
		
		
		//日期
		if($('#startCTime').val() != null && $('#startCTime').val() != ""){
			laydate.render({
			  elem: '#startCTime',
			  format:'yyyy-MM-dd HH:mm:ss',
			  type: 'datetime',
			  value: new Date($('#startCTime').val())
			});
		}else{
			laydate.render({
			  elem: '#startCTime',
			  type: 'datetime',
			  format:'yyyy-MM-dd HH:mm:ss'
			});
		}
		
		if($('#endCTime').val() != null && $('#endCTime').val() != ""){
			laydate.render({
			  elem: '#endCTime',
			  type: 'datetime',
			  format:'yyyy-MM-dd HH:mm:ss',
			  value: new Date($('#endCTime').val())
			});
		}else{
			laydate.render({
			  elem: '#endCTime',
			  type: 'datetime',
			  format:'yyyy-MM-dd HH:mm:ss'
			});
		}	
			//日期
			if($('#startUTime').val() != null && $('#startUTime').val() != ""){
				laydate.render({
				  elem: '#startUTime',
				  format:'yyyy-MM-dd HH:mm:ss',
				  type: 'datetime',
				  value: new Date($('#startUTime').val())
				});
			}else{
				laydate.render({
				  elem: '#startUTime',
				  type: 'datetime',
				  format:'yyyy-MM-dd HH:mm:ss'
				});
			}
			
			if($('#endUTime').val() != null && $('#endUTime').val() != ""){
				laydate.render({
				  elem: '#endUTime',
				  type: 'datetime',
				  format:'yyyy-MM-dd HH:mm:ss',
				  value: new Date($('#endUTime').val())
				});
			}else{
				laydate.render({
				  elem: '#endUTime',
				  type: 'datetime',
				  format:'yyyy-MM-dd HH:mm:ss'
				});
			}
			
	        
			loadEchartData();
			
			//导出按钮监听
			$('#expord').on('click', function(){
				var url = "/accountdata/expordExcel?accountName=" + $("#accountName").val();
				url += "&remarkName=" + $("#remarkName").val();
				url += "&state=" + $("#state").val();
				url += "&startCTime=" + $("#startCTime").val();
				url += "&endCTime=" + $("#startCTime").val();
				url += "&startUTime=" + $("#startUTime").val();
				url += "&endUTime=" + $("#endUTime").val();
				url += "&targetAccount=" + $("#targetAccount").val();
				window.location.href = url;
			});
			
	});
	
</script>
</body>
</html>        