<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title></title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
     <link rel="stylesheet" th:href="@{/layui/css/eleTree.css}">
   <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
   
   <!--时间格式化-->
    <script src="/js/dateFormat.js" type="text/javascript" charset="utf-8"></script>
    <script id="createTime" type="text/html">
    {{#   
    var date = new Date();
    date.setTime(d.createTime);
    return date.Format("yyyy-MM-dd hh:mm:ss"); 
    }} 
    </script>
    
    <style>
		/* 防止下拉框的下拉列表被隐藏---必须设置--- */
        .layui-table-cell {
            overflow: visible !important;
            min_height: 500px;
        }
        .layui-table {
        	
        }
        /* 设置下拉框的高度与表格单元相同 */
        .layui-input, .layui-select, .layui-textarea{
            height: 30px !important;
        }
   </style>
</head>
<body><!-- 
活动面积页面<p th:text="${id}"></p> -->
	<form class="layui-form"  action="" lay-filter="verForm" >
     <input type="hidden" name="id" id="id" th:value="${id}" autocomplete="off" class="layui-input">
      <input type="hidden" name="actId" id="actId" th:value="${actId}" autocomplete="off" class="layui-input">
      <input type="hidden" name="hverName" id="hverName" th:value="${verName}" autocomplete="off" class="layui-input">
      <input type="hidden" name="hurl" id="hurl" th:value="${url}" autocomplete="off" class="layui-input">
		<div>
			<button class="layui-btn" lay-submit=""  lay-filter="savever">保存</button>
			<button type="button" class="layui-btn layui-btn-primary" onclick="window.history.go(-1);"  id="back">返回</button>
		</div>
		<hr>
    	<div>
    		<div class="layui-form-item">
    			<div class="layui-inline">
	    			<label class="layui-form-label">版本名称</label>
				    <div class="layui-input-inline">
				      <input type="text" name="verName" lay-verify="verName|required"  placeholder="请输入版本名称" class="layui-input">
				    </div>
			    </div>
    		</div>
    		    		
  			<div class="layui-form-item">
    			<div class="layui-inline">
	    			<label class="layui-form-label">活动页面模板路径</label>
				    <div class="layui-input-inline">
				      <input type="text" name="url" lay-verify="url|required"  placeholder="请输入活动页模板路径" class="layui-input">
				    </div>
			    </div>
    		</div>
  			
    	</div>
    </form>
    
   <hr>
   
<button class="layui-btn  layui-btn-normal" id="addBtn" data-type="getInfo">
	<i class="layui-icon layui-icon-add-1">新增</i>
</button>

<button class="layui-btn layui-btn layui-btn-danger" id="deleteBtn" data-type="getInfo">
	<i class="layui-icon layui-icon-ok">删除</i>
</button>
<table class="layui-table" id="table" lay-filter="rewardConf"></table>

<script type="text/html" id="btnColumn">
	<div class="layui-input-inline">
	<select name="btnStyle" lay-filter="btnSelect_{{ d.LAY_TABLE_INDEX}}" id="btnSelect_{{ d.LAY_TABLE_INDEX}}">
		{{# layui.each(buttonList, function(index, item){ }}
        <option value="{{ item.btnStyle }},{{ d.LAY_TABLE_INDEX }}" {{ (d.btnStyle == item.btnStyle)?'selected' : '' }}>
			{{item.btnName}}
		</option>
        {{# }); }}
	</select>
	</div>
	{{# if(buttonList != null && buttonList.length > 0){ }}
		{{# if(d.btnStyle != null && d.btnStyle.length > 0){ }}
			<button class="{{d.btnStyle}}" id="btn_{{ d.LAY_TABLE_INDEX}}">
				颜色展示
			</button>
		{{# }else {}}
			<button class="{{buttonList[0].btnStyle}}" id="btn_{{ d.LAY_TABLE_INDEX}}">
				颜色展示
			</button>
		{{# }}}
	{{# }}}
</script>

<script th:inline="none">
	var buttonList = [];
	layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element', 'slider'], function(){
		  var laydate = layui.laydate //日期
		  ,laypage = layui.laypage //分页
		  ,layer = layui.layer //弹层
		  ,table = layui.table //表格
		  ,element = layui.element //元素操作
		  ,slider = layui.slider //滑块
		  ,form = layui.form
		  ,$ = layui.jquery; 
		  
		  form.val('verForm', {
				"verName":$("#hverName").val()
				,"url":$("#hurl").val()
			  });
		  
			//自定义验证规则
		  form.verify({
			url:function(value){
			}
		   });
		
		
		//获取按钮样式列表
		$.ajax({
			 url:"/actCategory/ver/getButtonEnum"
			,data:{}
			,async: false
			,success:function(result){
				if(result.code == '000000'){
					buttonList = result.data;
// 					alert(JSON.stringify(buttonList));
				}
			}
		});
		
		$.ajax({
		 url:"/actCategory/ver/getButtons"
		,data:{id:$("#id").val()}
		,success:function(res){
			var data  = res.data;
			tableRad = table.render({
			    elem: '#table'
			    ,data: data //数据接口
			    ,height: 500
			    ,cols: [[ //表头
			    	  {type: 'checkbox', fixed: 'left'}
				      ,{field:'btnName',title: '按钮名称',edit:'text'}
				      ,{field:'btnStyle',title: '按钮样式', templet: '#btnColumn'}
				      ,{field:'btnUrl', title:'按钮链接',edit:'text'}
			    ]]
				,done: function(res, curr, count){
					for(var i = 0;i < res.data.length;i++){
						//监听按钮样式列表
						form.on('select(btnSelect_' + i + ')', function(data){
							var value = data.value.split(",");
			    			res.data[value[1]].btnStyle = value[0];
			    			$('#btn_' + value[1]).removeClass();
			    			$('#btn_' + value[1]).addClass(value[0]);
						});
					}
				}
			  });
		}
	    ,complete: function (){}
	}) 
		
	    //监听提交
	    form.on('submit(savever)', function(data){
	        var d = table.cache['table'];
	        var verSaveData =  new Array();
	        for(var i=0;i<d.length;i++){
	        	if(d[i]==""){
	        		continue;
	        	}
	        	if(!isEmpty(d[i].btnUrl)&&!isEmpty(d[i].btnName)&&!isEmpty(d[i].btnStyle)){	
			        var tempData = new Object()
			        	tempData.id = d[i].id,
			        	tempData.btnName = d[i].btnName,
			        	tempData.btnStyle = d[i].btnStyle,
			        	tempData.btnUrl = d[i].btnUrl
			        	verSaveData.push(tempData);
		        }else{
		        	layer.msg("第"+(i+1)+"行有未填写列，请填写完整");
					return false;
		        }
	        }
	        data.field.buttons = verSaveData;
	        url = '/actCategory/ver/saveVer';	
	        if($("#id").val()!=null&&""!=$("#id").val()){
	            url = '/actCategory/ver/updateVer';
	            data.field.id = $("#id").val();
	        }
	       $.ajax({
	    		   url:url
	    		  ,data: {
	    			  verId:data.field.id,
	    			  actId:$("#actId").val(),
	    			  verName:data.field.verName,
	    			  url:data.field.url,
	    			  actBtns:JSON.stringify(verSaveData)
	    		   }
	              ,beforeSend:function () {
	                  this.layerIndex = layer.load(0, {shade: [0.5, '#393D49']});
	              }
	              ,success:function(data){
	            	  layer.msg(data.msg);
	            	  layer.close(this.layerIndex);
	            	  if(data.code == "000000"){
		            	  window.location.href='/actCategory/ver/list?actId='+$("#actId").val();
	            	  }
	              }
	              ,complete: function (){
	            	  layer.close(this.layerIndex);
	              }
	       })
		   return false; 
		 }); 
	    
	    
	 //新增按钮监听
	 $('#addBtn').on('click', function(){
			verData = table.cache['table'];
			if(verData.length==0){
				id = 1
			}else{
				id = verData[verData.length-1].id + 1
			}
			var addData={
					"id":id,
					"btnName": "",
					"btnStyle":"",
					"btnUrl":""
					};
			verData.push(addData);
			table.reload('table',{
			    data : verData
			});
	 });
	 
    //监听删除按钮
	$('#deleteBtn').on('click', function(){
		
    	var checkStatus = table.checkStatus('table');
	    var data = checkStatus.data;
		if(data.length==0){
			layer.msg("请选择一行进行删除");
			return false ;
		}
	    
		layer.confirm('确认要删除？', {
			btn: ['确定', '取消'] //按钮
			}, function (index) {
				del(data);
				layer.close(index);
			}, function () {
		});
	});
	
	//删除掉数据
	function del(data){
		 var d = table.cache['table'];
		 for(var i=0;i<d.length;i++){
			for(var j=0;j<data.length;j++){
				if(d[i].id == data[j].id){
					d.splice(i,1,"");
				}
			}
		} 
		table.reload('table',{
		  data : d
	    });
		return true;
	}
	
	 function add(data){
		   window.location.href='/user/redirect';
	 } 
	
	 function update(data){
		   window.location.href='/actCategory/ver/saveOrEdit?vid='+data.id+"&actId="+$("#actId").val();
	 }
	 
	//判断字符是否为空的方法
	 function isEmpty(obj){
	     if(typeof obj == "undefined" || obj == null || obj == ""){
	         return true;
	     }else{
	         return false;
	     }
	 }
});
</script>
</body>
</html>        