<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title></title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
   <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
   <script type="text/javascript" th:src="@{/js/dateFormat.js}"></script>
</head>
<body>

<form class="layui-form">
<div class="layui-inline">
	<input class="layui-input" id="deviceNum" autocomplete="off" placeholder="请输入设备编号">
</div>
<div class="layui-inline">
	<select id="state" >
		<option value="">请选择状态</option>
		<option value="1">在线</option>
		<option value="0">离线</option>
	</select>
</div>
<a class="layui-btn" id="searchBtn" data-type="getInfo">
	<i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
</a>
</form>

<table class="layui-table" id="table" lay-filter="device"></table>

<script type="text/html" id="opColumn">
	<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除 </a>
</script>

<script th:inline="none">
	layui.use(['laydate', 'laypage', 'layer', 'table', 'upload', 'element', 'slider', 'jquery','form'], function(){
		var laydate = layui.laydate //日期
		,laypage = layui.laypage //分页
		,layer = layui.layer //弹层
		,table = layui.table //表格
		,upload = layui.upload //上传
		,element = layui.element //元素操作
		,slider = layui.slider //滑块
		,$ = layui.jquery
		,form = layui.form; 
		
		form.render("select"); 
		
		table.render({
			elem: '#table'
			,url: '/device/getList'
			,page: true
			,cols: [[
				{type:'checkbox', fixed: 'left'}
			    ,{field:'id', title: 'ID', width:80, sort: true}
			    ,{field:'deviceNum', title: '设备编号', edit: 'text'}
			    ,{field:'deviceType', title: '设备型号', edit: 'text'}
			    ,{field:'mark', title: '备注名称', edit: 'text'}
			    ,{field:'state',title:'状态', templet: 
			    	function(row){
			    		if(row.state == 1){
			    			return '<a class="layui-btn layui-btn-xs layui-btn-normal">在线 </a>';
			    		}else{
			    			return '<a class="layui-btn layui-btn-xs layui-btn-primary">离线 </a>'
			    		}
			    		return '';
			    	}	
			    }
			    ,{field:'onlineTime',title:'在线时间', templet: 
			    	function(row){
			    		return createTime(row.onlineTime);
			    	}	
			    }
			    ,{field:'op', templet: '#opColumn'}
			]]
		});
		
		//监听单元格编辑
		table.on('edit(device)', function(obj){
			var value = obj.value //得到修改后的值
			,data = obj.data //得到所在行所有键值
			,field = obj.field; //得到字段
			
			saveOrEdit(data);
			
// 			layer.msg('[ID: '+ data.id +'] ' + field + ' 字段更改为：'+ value);
		});
		
		//监听单元格事件
		table.on('tool(device)', function(obj){
			var data = obj.data;
			if(obj.event === 'del'){
				$.ajax({ 
					url: "/device/del", 
					data: {id: data.id},
					dataType: 'json',
					success: function(result){
						if(result.code == "000000"){
							reload();
						}
						layer.msg(result.msg);
					}
				});
			}
		});
		
		//新增或编辑
		function saveOrEdit(data){
			//参数验证
// 			alert(JSON.stringify(data));
			if(data.deviceNum == null || data.deviceNum.trim() == ""){
				layer.msg("请填写设备编号");
				return false;
			}else if(data.deviceType == null || data.deviceType.trim() == ""){
				layer.msg("请填写设备型号");
				return false;
			}
			
			delete data.onlineTime;
			
			$.ajax({ 
				url: '/device/edit', 
				data: data,
				dataType: 'json',
				success: function(result){
					layer.msg(result.msg);
		        	if(result.code == "000000"){
		        		reload();
		        	}
				}
			});
		}
		
		//查询按钮监听
		$('#searchBtn').on('click', function () {
        	reload()
        });
		
		//刷新
		function reload () {
			console.log("刷新");
			table.reload('table', {
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            	, where: {
            		deviceNum: $("#deviceNum").val()
             	   ,state: $("#state").val()
                }
            });
            
     	}
		
	});
	
</script>
</body>
</html>        
