<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title></title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
   <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
   <script type="text/javascript" th:src="@{/js/dateFormat.js}"></script>
</head>
<body>

<button type="button" class="layui-btn layui-btn-normal" id="impMessage" lay-filter="impMessage">
	<i class="layui-icon layui-icon-upload " ></i>
	批量导入
</button>

<button type="button" class="layui-btn layui-btn-primary" id="downMould" lay-filter="downMould">
	<i class="layui-icon layui-icon-download-circle" ></i>
	模板下载
</button>

<script type="text/html" id="messageBox">
	<form class="layui-form" action="" lay-filter="example">
		<input type="hidden" id="id" name="id">
		<div style="margin-top:10px;padding-right:10px;">
			<div class="layui-form-item" >
				<label class="layui-form-label">消息</label>
				<div class="layui-input-block">
					<textarea placeholder="请输入消息内容" class="layui-textarea" id="message" name="message" lay-verify="message|required" ></textarea>
				</div>
			</div>
		</div>
	</form>
</script>

<table class="layui-table" id="table" lay-filter="msgBase"></table>

<script th:inline="none">
	layui.use(['laydate', 'laypage', 'layer', 'table', 'upload', 'element', 'slider', 'jquery','form'], function(){
		var laydate = layui.laydate //日期
		,laypage = layui.laypage //分页
		,layer = layui.layer //弹层
		,table = layui.table //表格
		,upload = layui.upload //上传
		,element = layui.element //元素操作
		,slider = layui.slider //滑块
		,$ = layui.jquery
		,form = layui.form; 
		
		form.render("select"); 
		
		table.render({
			elem: '#table'
			,url: '/messageBase/getList'
			,page: true
			,toolbar: 'default'
			,cols: [[
				{type:'checkbox', fixed: 'left'}
			    ,{field:'id', title: 'ID', width:80, sort: true}
			    ,{field:'message', title: '消息'}
			]]
		});
		
		//监听头工具栏事件
        table.on('toolbar(msgBase)', function(obj){
	        var checkStatus = table.checkStatus(obj.config.id)
	        ,data = checkStatus.data; //获取选中的数据
	        switch(obj.event){
				case 'add':
					add();
				break;
				case 'update':
					if(data.length === 0){
					  layer.msg('请选择一行');
					} else if(data.length > 1){
					  layer.msg('只能同时编辑一个');
					} else {
					 update(data[0]);
					}
				  
				break;
				case 'delete':
					if(data.length === 0){
					   layer.msg('请选择一行');
					} else {
						layer.confirm('确认要删除？', {
						 btn: ['确定', '取消'] //按钮
						}, function () {
						     del(data);
						}, function () {
						});
					}
				break;
	        };
        });
		
		//新增
		function add(){
			layer.open({
				type: 1
		        ,title: false //不显示标题栏
		        ,closeBtn: false
		        ,area: ['500px', '200px']
		        ,shade: 0.8
		        ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
		        ,btn: ['确定', '取消']
		        ,btnAlign: 'c'
		        ,moveType: 1 //拖拽模式，0或者1
		        ,content: $('#messageBox').html()
		        ,success: function(layero){
		        }
		        ,yes: function(index, layeo){
		        	var message = $('#message').val().trim();
		        	if(message == null || message == ''){
		        		layer.msg("消息内容不能为空");
        				return false;
        			}
        			if(message.length > 500){
        				layer.msg("消息内容字数不能大于500字");
        				return false;
        			}
	        		
	        		//保存会员
	        		$.ajax({ 
	    				url: "/messageBase/save", 
	    				data: {message: message},
	    				dataType: 'json',
	    				success: function(result){
	    					layer.msg(result.msg);
	    					if(result.code == "000000"){
	    						layer.close(index);
	    						reload();
	    					}
	    				}
	    			});
	        	    
		        }
			}); 
		}
		
		//编辑
		function update(data){
			layer.open({
				type: 1
		        ,title: false //不显示标题栏
		        ,closeBtn: false
		        ,area: ['500px', '200px']
		        ,shade: 0.8
		        ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
		        ,btn: ['确定', '取消']
		        ,btnAlign: 'c'
		        ,moveType: 1 //拖拽模式，0或者1
		        ,content: $('#messageBox').html()
		        ,success: function(layero){
		        	form.val('example', {
						"id":  data.id
					    ,"message": data.message
					  });
		        }
		        ,yes: function(index, layeo){
		        	var message = $('#message').val().trim();
	        		var id = $('#id').val();
	        		if(message == null || message == ''){
		        		layer.msg("消息内容不能为空");
        				return false;
        			}
        			if(message.length > 500){
        				layer.msg("消息内容字数不能大于500字");
        				return false;
        			}
	        		//保存会员
	        		$.ajax({ 
	    				url: "/messageBase/edit", 
	    				data: {message: message, id: id},
	    				dataType: 'json',
	    				success: function(result){
	    					layer.msg(result.msg);
	    					if(result.code == "000000"){
	    						layer.close(index);
	    						reload();
	    					}
	    				}
	    			});
	        	    
		        }
			}); 
		}
		
		//删除
        function del(data){
			var ids = "";
			for(var i = 0 ;i<data.length;i++){
				ids = ids + data[i].id + ',';
			}
			
			$.ajax({
				url:'/messageBase/del'
				,data:{ids:ids}
				,success:function(result){
					layer.msg(result.msg);
					if(result.code == '000000'){
						reload();
					}
				}
			})
		} 
		
		
		//刷新
		function reload () {
			console.log("刷新");
			table.reload('table', {
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            
     	}
		
		//文件上传
		upload.render({
			elem: '#impMessage'
			,url: '/messageBase/impExcel'
			,data: {}
			,done: function(res, index, upload){ //上传后的回调
				layer.msg(res.msg);
	        	if(res.code == "000000"){
	        		reload();
	        	}
			} 
			,accept: 'file' //允许上传的文件类型
			,exts: 'xls|xlsx' //允许上传的文件后缀
			//,size: 50 //最大允许上传的文件大小
			//,……
		});
		
		//模板下载按钮监听
		$('#downMould').on('click', function(){
			window.location.href = "/mould/message.xlsx";
		});
		
	});
	
</script>
</body>
</html>        
