<html>
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<title>拼图科技</title>
<link rel="stylesheet" th:href="@{/layui/css/layui.css}">
<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
</head>
<body layadmin-themealias="default" class="layui-layout-body">
	<div id="LAY_app" class="layadmin-tabspage-none">
		<div class="layui-layout layui-layout-admin">
			<!-- 主体内容 -->
			<div class="layui-body" id="LAY_app_body">
				<div class="layadmin-tabsbody-item layui-show">
					<div class="layui-fluid">
						<div class="layadmin-tips">
							<i class="layui-icon layui-icon-face-surprised" face=""> </i>
							<div class="layui-text" style="font-size: 20px;">
							      你没有权限访问
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<style id="LAY_layadmin_theme">
		.layui-side-menu, .layadmin-pagetabs .layui-tab-title li:after,
			.layadmin-pagetabs .layui-tab-title li.layui-this:after,
			.layui-layer-admin .layui-layer-title, .layadmin-side-shrink .layui-side-menu .layui-nav>.layui-nav-item>.layui-nav-child
			{
			background-color: #20222A !important;
		}
		
		.layui-nav-tree .layui-this, .layui-nav-tree .layui-this>a,
			.layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-nav-child dd.layui-this a
			{
			background-color: #009688 !important;
		}
		
		.layui-layout-admin .layui-logo {
			background-color: #20222A !important;
		}	
		.layadmin-tips {
		    margin-top: 30px;
		    text-align: center;
		}
		.layadmin-tips .layui-icon[face] {
		    display: inline-block;
		    font-size: 300px;
		    color: #393D49;
		}
		.layadmin-tips .layui-text {
		    width: 500px;
		    margin: 30px auto;
		    padding-top: 20px;
		    border-top: 5px solid #009688;
		    font-size: 16px;
		}
		.layadmin-tips h1 {
		    font-size: 100px;
		    line-height: 100px;
		    color: #009688;
		}
	</style>
	<div class="layui-layer-move"></div>
</body>
</html>