/* 背景 */
.bg {
	background-image: url('/activityPage/redEnvelope/image/bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top center;
    /*     background-attachment: local; */
}

.fill {
	height: 41%;
}

/* 活动规则 */
.ruleBtn {
	width: 4.4em;
	height: 2em;
	background-image: url('/activityPage/redEnvelope/image/rule.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top center;
	position: absolute;
	right: 0px;
	top: 3%;
	text-align: center;
	font-size: 1em;
	cursor:pointer;
}

/* 查看奖品 */
.checkReward {
	position: absolute;
	right: 0;
	top: 23%;
	width: 15%;
	cursor:pointer;
}
.checkReward img {
	width: 100%;
}

/* 活动时间 */
.ribbon {
	position: absolute;
	top: 35%;
	width: 100%;
	height: 2em;
	text-align: center;
}
.activityTime {
    text-align: center;
    font-family: PingFang-SC-Bold;
    color: #fbfbfb;
    font-size: 0.8em;
    font-weight: normal;
	font-stretch: normal;
	line-height: 1.5em;
	letter-spacing: 1px;
}
.activityTime .time {
	color: red;
	background-color: #fff;
	padding: 2px;
	margin-right: 5px;
	border-radius: 2px;
}
.activityTime #msg {
	display: none;
}

/* 中奖公告 */
.scrollBar {
	width: 100%;
	text-align: center;
}
.scrollBar .bar {
	margin-left: 10%;
	width: 80%;
	height: 2.5em;
    background-image: url('/activityPage/redEnvelope/image/roll_bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top center;
}
.scrollBar .bar .record {
	color: #fbfbfb;
	line-height: 2.5em;
    width: 100%;
    height: 2.5em;
    text-align: center;
    overflow: hidden;
}
.scrollBar .bar .record .msg{
    letter-spacing: 1px;
    font-size: 1em;
    color: #fff;
    float: left;
    width: 100%;
    overflow: hidden;
    display: inline-block;
	white-space : nowrap;
	text-overflow:ellipsis;
	overflow: hidden; 
}
.scrollBar .bar .record .name{
    color: yellow;
}

/* 红包 */
.redEnvelope{
	width: 100%;
	display:table;
	border-collapse:separate;
	position: relative;
	margin-top: 5%;
}
.redEnvelope .box{
	width: 100%;
	display:table-row;
}
.redEnvelope .box div{
	display:table-cell;
	width: 33%;
	text-align: center; 	
}
.redEnvelope .box div img{
	max-width: 100%;
	max-height: 46%;
	cursor:pointer;
}

/* 拆红包次数 */
.times {
	width: 100%;
	text-align: center;
	color: #fbfbfb;
	font-size: 1.4em;
    margin-top: 20px;
    font-family: PingFang-SC-Bold;
    font-weight: normal;
	font-stretch: normal;
	letter-spacing: 2px;
}
.times #times {
	background-color: #ff3e3e;
	padding: 0 5px;
	margin-right: 2px;
}

/* 我的奖品 */
.myReward {
	width: 100%;
	text-align: center;
	margin-top: 12px;
}
.myReward img{
	height: 4em;
	cursor:pointer;
}

/* 关闭按钮 */
.close {
	position: relative;
	top: 20%;
	padding-left: 45%;
	text-align: left;
}
.close img {
	height: 32px;
	width: 32px;
	cursor:pointer;
}

/* 中奖弹窗 */
.gitReward {
	position: absolute;
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/activityPage/redEnvelope/image/reward_bg.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: centent;
    z-index: 10;
    display: none;
}
.gitReward .rewardCon {
	width: 100%;
	position: inherit;
	top: 38%;
	text-align: center;
	font-family: FZLTZHK--GBK1-0;
	font-size: 1.8em;
	font-weight: bold;
	font-stretch: normal;
	line-height: 1.6em;
	letter-spacing: 0px;
	color: #da3141;
	display: inline-block;
	white-space : nowrap;
	text-overflow:ellipsis;
	overflow: hidden; 
}
.gitReward .closeBtn {
	position: inherit;
	top: 56%;
	margin-left: 30%;
	width: 40%;
	height: 3em;
	line-height: 3em;
	font-size: 1.2em;
	letter-spacing: 2px;
	color: #fefefe;
	text-align: center;
	background-image: url('/activityPage/redEnvelope/image/openicon.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
    cursor:pointer;
}

/* 登录弹窗 */
.login {
	position: absolute;
	top: 30%;
    left: 10%;
    width: 80%;
    height: 250px;
    z-index: 10;
    text-align: center;
    border-radius: 5px;
    background-image: url('/activityPage/redEnvelope/image/login_bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    display: none;
}
.login .nameBox {
	margin-top: 20%;
	width: 80%;
	height: 2.5em;
	line-height: 2.5em;
	margin-left: 10%;
	background-color: rgba(0,0,0,0.3);
	border-radius: 1.2em;
	text-align: left;
}
.login .nameBox img{
	width: 2em;
	margin-left: 10px;
	margin-right: 5px;
}
.login .nameBox input{
	width: 75%;
	background:none;
	outline:none;
	border:0px;
	color: #ffffff;
	height: 2em;
	font-size: 1em;
}
.login .nameBox input[type="text"]:focus{
	outline: none;
	color: #ffffff;
}
.login .loginBtn{
	width: 100%;
	height: 40%;
	margin-top: 10%;
	text-align: center;
}
.login .loginBtn img {
	width: 25%;
	cursor:pointer;
}

/* 规则弹窗 */
.ruleBox {
	position: absolute;
	top: 20%;
    left: 10%;
    width: 80%;
    height: 60%;
    z-index: 10;
    background-image: url('/activityPage/redEnvelope/image/rule_bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: left;
    display: none;
}
.ruleBox .centent {
	width: 80%;
	height: 65%;
	margin-left: 10%;
	margin-top: 40%;
	overflow-y: auto;
	color: #fff;
	font-size: 0.8em;
}

/* 中奖记录弹窗 */
.recordBox {
	position: absolute;
	top: 20%;
    left: 10%;
    width: 80%;
    height: 60%;
    z-index: 10;
    text-align: center;
    background-image: url('/activityPage/redEnvelope/image/record_bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    display: none;
    padding-bottom: 10px;
}
.recordBox .centent {
	width: 80%;
	height: 65%;
	margin-left: 10%;
	margin-top: 40%;
	overflow-y: auto;
	overflow-x: hidden;
	color: #fff;
	font-size: 0.8em;
}
.recordBox .centent .row {
	width: 98%;
	height: 2em;
	border-radius: 13px;
	border: solid 2px #ff5c59;
	box-sizing: border-box;
	background-color: #ffea3b;
	color: #ff5434;
	margin-top: 5px;
}
.recordBox .centent .row .time{
	width: 50%;	
	float: left;
	line-height: 1.8em;
}
.recordBox .centent .row .reward{
	width: 25%;	
	height: 100%;
	line-height: 1.8em;
	text-align: left;
	float: left;
	padding-right: 5px;
	display: inline-block;
	white-space : nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
}
.recordBox .centent .row .isSend{
	width: 3em;	
	height: 100%;
	line-height: 1.8em;
	text-align: right;
	float: right;
	padding-right: 5px;
	display: inline-block;
	white-space : nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
}

/* 查看奖品弹窗 */
.rewardBox {
	position: absolute;
	top: 30%;
    left: 15%;
    width: 70%;
    height: 220px;
    z-index: 10;
	background-image: url('/activityPage/goldenEgg/image/reward_list.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    display: none;
}
.rewardBox .centent {
	margin-top: 30%;
    width: 100%;
    height: 120px;
}
.rewardBox .centent .leftBtn {
	width: 16px;
	float: left;
	margin-left: 5%;
	margin-top: 20%;
}
.rewardBox .centent .leftBtn img{
	width: 100%;
}
.rewardBox .centent .rewards {
	width: 75%;
	height: 80%;
/* 	background: #fff; */
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 12%;
	float: left;
}
.rewardBox .centent .rewards .reward {
	width: 30%;
	height: 75%;
	margin-left: 2%;
	margin-top: 5px;
	float: left;
}

.rewardBox .centent .rewards .reward .rewardImg {
	width: 100%;
	height: 80%;
	display: flex;
    justify-content: center;
    align-items: Center;
}
.rewardBox .centent .rewards .reward  .rewardImg img{
/* 	background-color: #777777; */
	border-radius: 5px;
	max-width: 90%;
	max-height: 100%;
}
.rewardBox .centent .rewards .reward .title{
	color: #fbfbfb;
	font-size: 0.8em;
	display: inline-block;
	white-space : nowrap;
	text-overflow:ellipsis;
	overflow: hidden; 
	width:100%;
}

.rewardBox .centent .rightBtn {
	width: 16px;
	float: left;
	margin-top: 20%;
}
.rewardBox .centent .rightBtn img {
	width: 100%;
}

/* 输入框样式 */
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fefefe;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fefefe;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fefefe;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #fefefe;
}