<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title></title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
   <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
   <script type="text/javascript" th:src="@{/js/dateFormat.js}"></script>
</head>
<body>

<form class="layui-form">

<div class="layui-inline">
	<select id="taskType" name="taskType" >
		<option value="">请选择状态</option>
		<option value="ADDFRIEND">添加好友</option>
		<option value="PULLFRIEDTOGROUP">拉好友进群</option>
		<option value="READMESSAGE">消息阅读</option>
	</select>
</div>

<div class="layui-inline">
    <select id="state" name="state" >
		<option value="">请选择状态</option>
		<option value="0">待执行</option>
		<option value="1">执行中</option>
		<option value="2">执行成功</option>
		<option value="3">执行失败</option>
		<option value="4">暂停</option>
	</select>
</div>

<a class="layui-btn" id="searchBtn" data-type="getInfo">
	<i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
</a>
</form>

<table class="layui-table" id="table" lay-filter="device"></table>

<script type="text/html" id="opColumn">
   {{# if(d.state == 2 || d.state == 4 ){  }} 
	<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除 </a>
   {{# } }}

   {{# if(d.state == 1 || d.state == 0 || d.state == 3 ){  }} 
	<a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="pauseAndStart">暂停 </a>
   {{# } }}

   {{# if(d.state == 4 && d.taskType !='QQFRIENDCHECK' ){  }} 
	<a class="layui-btn layui-btn-xs layui-btn-blue" lay-event="pauseAndStart">开启 </a>
   {{# } }}

   {{# if(d.state == 4 && d.taskType =='QQFRIENDCHECK' ){  }} 
	  <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="operate">立即执行</a>
   {{# } }}
 
   {{# if(d.state == 0 ||d.state == 3 || ( d.state == 2 && (d.taskType =='QQFRIENDCHECK' || d.taskType =='WXFRIENDCHECK') )){  }} 
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="operate">立即执行</a>
   {{# } }}



</script>

<script th:inline="none">
	layui.use(['laydate', 'laypage', 'layer', 'table', 'upload', 'element', 'slider', 'jquery','form'], function(){
		var laydate = layui.laydate //日期
		,laypage = layui.laypage //分页
		,layer = layui.layer //弹层
		,table = layui.table //表格
		,upload = layui.upload //上传
		,element = layui.element //元素操作
		,slider = layui.slider //滑块
		,$ = layui.jquery
		,form = layui.form; 
		
		form.render("select"); 
		
		table.render({
			elem: '#table'
			,url: '/task/getlst'
			,page: true
			,cols: [[
				{type:'checkbox', fixed: 'left'}
			    ,{field:'id', title: 'ID', width:80, sort: true}
			    ,{field:'taskTypeName', title: '任务类型'}
			    ,{field:'deviceInfo', title: '设备情况'}
			    ,{field:'processTimeStr',title:'执行时间'  }
			    ,{field:'state',title:'状态', templet: 
			    	function(row){
			    		if(row.state == 0){
			    			return '<a class="layui-btn layui-btn-xs layui-btn-primary">待执行 </a>';
			    		}else if(row.state == 1){
			    			return '<a class="layui-btn layui-btn-xs layui-btn-primary">执行中</a>'
			    		}else if(row.state == 2) {
			    			return '<a class="layui-btn layui-btn-xs layui-btn-primary">执行完成</a>'
			    		}else if(row.state == 3) {
			    			return '<a class="layui-btn layui-btn-xs layui-btn-primary">执行失败</a>'
			    		} else if(row.state == 4) {
			    			return '<a class="layui-btn layui-btn-xs layui-btn-primary">暂停</a>'
			    		} 
			    		return '';
			    	}	
			    }
			    ,{field:'reason', title: '执行结果'}
			    ,{field:'updateTime',title:'更新时间', templet: 
			    	function(row){
			    		return createTime(row.updateTime);
			    	}	
			    }
			    ,{field:'op', templet: '#opColumn'}
			]]
		});
		
		//查询按钮监听
		$('#searchBtn').on('click', function () {
        	reload()
        });
		
		//刷新
		function reload () {
			console.log("刷新");
			table.reload('table', {
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            	, where: {
            		taskType: $("#taskType").val()
             	   ,state: $("#state").val()
                }
            });
     	}

		//监听单元格事件
		table.on('tool(device)', function(obj){
			var data = obj.data;
			
			if(obj.event === 'del'){
				$.ajax({ 
					url: "/task/del", 
					data: {ids: data.id},
					dataType: 'json',
					success: function(result){
						if(result.code == "000000"){
							reload();
						}
						layer.msg(result.msg);
					}
				});
			}
			
			if(obj.event === 'pauseAndStart'){
			
				$.ajax({ 
					url: "/task/pauseAndStart", 
					data: {id: data.id,state:data.state},
					dataType: 'json',
					success: function(result){
						if(result.code == "000000"){
							reload();
						}
						layer.msg(result.msg);
					}
				});
			}
			
			
			
			
			
			if(obj.event === 'operate'){
				$.ajax({ 
					url: "/task/operateCurrent", 
					data: {id: data.id},
					dataType: 'json',
					success: function(result){
						if(result.code == "000000"){
							reload();
						}
						layer.msg(result.msg);
					}
				});
			}
		});
	});
	
</script>
</body>
</html>        
