<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>群控后台管理系统登录页</title>
  <link rel="stylesheet" media="screen" th:href="@{/activityPage/login/css/style.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/activityPage/login/css/reset.css}"/>
  <style>
		.logo{
	    	padding-left: 15%;
	    	padding-bottom: 36px;
			width: 141px;
			height: 34px;
			font-family: MicrosoftYaHei-Bold;
			font-size: 37px;
			font-weight: normal;
			font-stretch: normal;
			line-height: 75px;
			letter-spacing: 0px;
			color: #33aba0;
		}

						
		/* 本例子css */
		
		.tishi{
			width: 170px;
			height: 15px;
			font-family: MicrosoftYaHei;
			font-size: 14px;
			font-weight: normal;
			font-stretch: normal;
			line-height: 34.7px;
			letter-spacing: 0px;
			color: #eb2c2c;
			 margin-top: 20px;	 
			 margin-left:50px;
			 margin-bottom: 35px; 
		}
	</style>
</head>
<body>

<form id="loginForm" th:action="@{/login}" method="post">

<div id="particles-js">
		<div class="login">
			<div class="login-top">
				登录
			</div>
			<div class="tishi">
				<span><p th:if="${loginError}" th:text="${session.SPRING_SECURITY_LAST_EXCEPTION}" ></p></span>
			</div>
			<div class="login-center clearfix">
				<div class="login-center-img"><img src="/activityPage/login/img/name.png"/></div>
				<div class="login-center-input"  >
					<input type="text" id="username" name="username" value="" placeholder="请输入您的用户名" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的用户名'"/>
					<div class="login-center-input-text">用户名</div>
				</div>
			</div>
			<div class="login-center clearfix">
				<div class="login-center-img"><img src="/activityPage/login/img/password.png"/></div>
				<div class="login-center-input" >
					<input type="password" id="password" name="password"  value="" placeholder="请输入您的密码" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的密码'"/>
					<div class="login-center-input-text">密码</div>
				</div>
			</div>
			<div class="login-center clearfix">
				<div class="login-center-img"><img src="/activityPage/login/img/code.png"/></div>
				<div class="login-center-input" style="width:135px;">
					<input type="text"  name="imageCode" id="imageCode" value="" placeholder="请输入验证码"  onfocus="this.placeholder=''" onblur="this.placeholder='请输入验证码'"/>
					<div class="login-center-input-text">验证码</div>
				</div>
				<div style="margin-left:10px;" >
					<img id="imgage" src ="/image/code"/>
				</div>
			</div>
			<div id="btn" class="login-button">
				登陆
			</div>
		</div>
		<div class="sk-rotating-plane"></div>
</div>

</form>

<!-- scripts -->
<script type="text/javascript"  th:src="@{/activityPage/login/js/particles.min.js}"></script>
<script type="text/javascript"  th:src="@{/activityPage/login/js/app.js}"></script>
<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
<script th:inline="none" >


layui.use(['jquery','element','layer'], function(){
	
	 var $ = layui.jquery
	   ,element = layui.element,
	   layer = layui.layer;

	 $("#imgage").on('click',function(){
	    	$("#imgage").attr("src","/image/code?"+Math.random());
	    }); 
	 
	 
	 function login(){
	 
		var username =  $("#username").val();
	    if(username==null||username==""){
	    	layer.msg("用户名不能为空！！！");
	    	return;
	    }
		
		var password =  $("#password").val()
	    if(password==null||password==""){
	    	layer.msg("密码不能为空！！！");
	    	return;
	    }
		
		
		var  imageCode =  $("#imageCode").val()
	    if(imageCode==null||imageCode==""){
	    	layer.msg("验证码不能为空！！！");
	    	return;
	    }
		
		addClass(document.querySelector(".login"), "active")
		setTimeout(function(){
			addClass(document.querySelector(".sk-rotating-plane"), "active")
			document.querySelector(".login").style.display = "none"
		},600)
		
		setTimeout(function(){
			removeClass(document.querySelector(".login"), "active")
			removeClass(document.querySelector(".sk-rotating-plane"), "active")
			//document.querySelector(".login").style.display = "block"
			$("#loginForm").submit();	
		},2000)
	 
	 
	 }
	 
	 //alert($("#btn"))
	　$(document).keydown(function(event){
		if(event.keyCode == 13){
		　　　login();
		}
	});


	function hasClass(elem, cls) {
	  cls = cls || '';
	  if (cls.replace(/\s/g, '').length == 0) return false; //当cls没有参数时，返回false
	  return new RegExp(' ' + cls + ' ').test(' ' + elem.className + ' ');
	}
	 
	function addClass(ele, cls) {
	  if (!hasClass(ele, cls)) {
	    ele.className = ele.className == '' ? cls : ele.className + ' ' + cls;
	  }
	}
	 
	function removeClass(ele, cls) {
	  if (hasClass(ele, cls)) {
	    var newClass = ' ' + ele.className.replace(/[\t\r\n]/g, '') + ' ';
	    while (newClass.indexOf(' ' + cls + ' ') >= 0) {
	      newClass = newClass.replace(' ' + cls + ' ', ' ');
	    }
	    ele.className = newClass.replace(/^\s+|\s+$/g, '');
	  }
	}
 		document.querySelector(".login-button").onclick = function(){
			
			login();
		} 
});
</script>
</body>
</html>