<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title></title>
  <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
  <link rel="stylesheet" th:href="@{/manage/css/taskPage.css}">
</head>
<body>
	<!-- 添加好友 -->
	<form class="layui-form" action="" lay-filter="example">
		<div id="contentBox">
			<fieldset class="layui-elem-field">
				<legend>目标筛选</legend>
				<div class="layui-field-box" id="devices">
					<!-- <input type="checkbox" name="device" value="1" lay-skin="primary" title="小米6A"> -->
			  	</div>
			</fieldset>
			<fieldset class="layui-elem-field">
				<legend>时间设置</legend>
				<div class="layui-field-box">
					<div class="layui-form-item layui-form-text">
					    <label class="layui-form-label">执行时间</label>
					    <div class="layui-input-inline">
				    		<input type="hidden" id="processTime" autocomplete="off" placeholder="请选择执行时间"  class="layui-input">
							<div class="layui-input-inline">
								<input type="text" id="startTime" lay-verify="startTime|required" autocomplete="off" placeholder="请选择执行时间"  class="layui-input">
							</div>
							<div class="layui-input-inline prompt">~</div>
							<div class="layui-input-inline">
								<input type="text" id="endTime" lay-verify="endTime|required" autocomplete="off" placeholder="请选择执行时间"  class="layui-input">
							</div>
				    	</div>
					</div>
					<div class="layui-form-item layui-form-text">
					    <label class="layui-form-label">任务频率</label>
					    <div class="layui-input-inline">
					    	<input type="text" id="taskRate" lay-verify="taskRate|required" autocomplete="off" placeholder="请输入几分钟执行一次任务"  class="layui-input">
				    	</div>
				    	<span class="prompt">分钟执行一次</span>
					</div>
			  	</div>
			</fieldset>
			<fieldset class="layui-elem-field">
				<legend>添加好友</legend>
				<div class="layui-field-box">
					<div class="layui-form-item layui-form-text">
					    <div class="layui-input-block">
							<span>当前好友号码库中有 <span id="friendNum">0</span> 条记录可用</span>
						</div>
					</div>
					<div class="layui-form-item layui-form-text">
					    <label class="layui-form-label">添加数量</label>
					    <div class="layui-input-inline">
							<input type="number" name="addNum" id="addNum" lay-verify="addNum|required" autocomplete="off" placeholder="请输入数字"  class="layui-input">
						</div>
						<span class="prompt">每个设备分配的好友数量</span>
					</div>
					
					<div class="layui-form-item layui-form-text">
					    <label class="layui-form-label">时间间隔</label>
					    <div class="layui-input-inline">
							<input type="number" name="minTime" id="minTime" lay-verify="minTime|required" autocomplete="off" class="layui-input">
						</div>
						<div class="layui-input-inline prompt">~</div>
						<div class="layui-input-inline">
							<input type="number" name="maxTime" id="maxTime" lay-verify="maxTime|required" autocomplete="off"  class="layui-input">
						</div>
						<span class="prompt">秒之间的随机数</span>
					</div>
					
					<div class="layui-form-item layui-form-text">
					    <label class="layui-form-label">备注名</label>
					    <div class="layui-input-block">
					    	<div class="layui-input-inline">
					    		<input type="radio" name="type" value="0" title="默认（不修改）" checked="checked">
					    	</div>
					    	<div class="layui-input-inline">
					    		<input type="radio" name="type" value="1" title="添加日期">
					    	</div>
					    	<div class="layui-input-inline">
					    		<input type="radio" name="type" value="2" title="库表导入的备注名">
					    	</div>
						</div>
					</div>
					
					<div class="layui-form-item layui-form-text">
					    <label class="layui-form-label">申请语</label>
					    <div class="layui-input-block">
					    	<input type="radio" name="applyType" value="0" checked="checked">
							<textarea placeholder="发送验证申请的用语，如：好久不见，老朋友。可设置多条，一条一行，系统随机抽取使用" 
								class="layui-textarea" id="applyText" name="applyText" lay-verify="applyText"></textarea>
						</div>
						<div class="layui-input-block">
					    	<input type="radio" name="applyType" value="1" title="使用中控数据库导入的用语">
						</div>
					</div>
				</div>
			</fieldset>
		</div>
		<a class="layui-btn" lay-submit="" lay-filter="redPacket">
			创建
		</a>
		
	</form>
	
	<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
	<script type="text/javascript" th:src="@{/js/dateFormat.js}"></script>
	<script type="text/javascript" th:src="@{/manage/js/taskPage.js}"></script>
<script th:inline="none">
	layui.use(['laydate', 'layer', 'element', 'jquery','form'], function(){
		var laydate = layui.laydate //日期
		,layer = layui.layer //弹层
		,element = layui.element //元素操作
		,$ = layui.jquery
		,form = layui.form;
		
		init();
		//初始化
		function init(){
			form.render();
			
			laydate.render({
				elem: '#startTime',
				format:'HH:mm:ss',
				type: 'time',
				value: "08:00:00"
			});
			
			laydate.render({
				elem: '#endTime',
				format:'HH:mm:ss',
				type: 'time',
				value: "22:00:00"
			});
		}
		
		function getFriendCount(){
			//获取好友库可添加好友数量
			$.ajax({ 
				url: '/qqAccountData/getMayAddCount', 
				data: {},
				dataType: 'json',
				success: function(result){
					if(result.code == '000000'){
						if(result.data != null){
							$('#friendNum').text(result.data);
						}
					}else{
						layer.msg("获取好友库好友数量失败");
					}
				}
			});
		}
		getFriendCount();
		
		form.on('select(circleType)', function(data){
			console.log(data.elem); 
			console.log(data.value); 
			console.log(data.othis);
			if(data.value == 1){
				$('#dayBox').hide();
			}else if(data.value == 2){
				var content = '';
				for(var i = 1;i <= 7;i++){
					content += '<option value="' + i + '">周' + i + '</option>';
				}
				$('#day').html(content);
				$('#dayBox').show();
				form.render('select');
			}else if(data.value == 3){
				var content = '';
				for(var i = 1;i <= 31;i++){
					content += '<option value="' + i + '">' + i + '号 </option>';
				}
				$('#day').html(content);
				$('#dayBox').show();
				form.render('select');
			}
			
		});
		
		//自定义验证规则
		form.verify({
			taskRate: function(value){
				if(value <= 0){
					return "任务频率必须大于0";
				}
				var r =  /^\+?[1-9][0-9]*$/;
				if(!r.test(value)){
					return "任务频率只能为正整数";
				}
			}
		});
		
		form.on('submit(redPacket)', function(data){
			if($('#friendNum').text() == '0'){
				layer.msg("好友库中没有可以添加的好友，请先前往好友库中添加好友");
				return false;
			}
			//监听提交
			var devices = "";
			$('input:checkbox[name="device"]:checked').each(function(index){
				if(index == 0){
					devices = $(this).val();
				}else{
					devices += "," + $(this).val();
				}
			});
			if(devices == ''){
				layer.msg("请选择设备");
				return false;
			}
			
			var names = "devices,addNum,minTime,maxTime,type,applyType,applyText,timeType,startTime,endTime,taskRate";
			var values = "";
			values += devices + "|"
			values += data.field.addNum + "|";
			values += data.field.minTime + "|";
			values += data.field.maxTime + "|";
			values += data.field.type + "|";
			values += data.field.applyType + "|";
			if(data.field.applyType == 0){
				values += data.field.applyText + "|";
			}else{
				values += " |";
			}
			values += "3|";
			values += $('#startTime').val() + "|";
			values += $('#endTime').val() + "|";
			values += $('#taskRate').val() + "|";
// 			console.log(names);
// 			console.log(values);
			data.field.nameStr = names;
			data.field.valueStr = values;
			data.field.taskType = 'QQADDFRIEND';
// 			return false;
			$.ajax({ 
				url: '/task/save', 
				data: data.field,
				dataType: 'json',
				success: function(result){
					layer.msg(result.msg);
					if(result.code == "000000"){
						setTimeout( function(){
							window.location.reload();
						}, 2 * 1000 );
					}
				}
			});
			
			return false;
		});
		
		//判断QQ添加好友任务是否存在
		function isServiceAccount(taskId){
			if(taskId == null || taskId == ''){
				return true;
			}
			var isSuccess = false;
			$.ajax({ 
				url: '/task/getServiceAccById', 
				data: {taskId: taskId},
				dataType: 'json',
				async: false,
				success: function(result){
					if(result.code == '000000'){
						isSuccess = true;
					}else{
						layer.msg(result.msg);
					}
				}
			});
			return isSuccess;
		}
		
	});
		
</script>
</body>
</html>