<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title></title>
  <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
  <link rel="stylesheet" th:href="@{/manage/css/taskPage.css}">
</head>
<body>
	<!-- 添加好友 -->
	<form class="layui-form" action="" lay-filter="example">
		<div id="contentBox">
			<fieldset class="layui-elem-field">
				<legend>目标筛选</legend>
				<div class="layui-field-box" id="devices">
					<!-- <input type="checkbox" name="device" value="1" lay-skin="primary" title="小米6A"> -->
			  	</div>
			</fieldset>
			<fieldset class="layui-elem-field">
				<legend>时间设置</legend>
				<div class="layui-field-box">
					<div class="layui-form-item layui-form-text">
					    <label class="layui-form-label">执行时间</label>
					    <div class="layui-input-inline" style="width: 100px;">
				    	<select id="timeType" lay-filter="timeType">
				    		<option value="0" selected>按日期</option>
				    		<option value="1">循环</option>
				    	</select>
				    </div>
				    <div class="layui-input-inline" id="dateBox">
				    	<input type="text" id="date" autocomplete="off" placeholder="请选择执行日期"  class="layui-input">
				    </div>
				    <div class="layui-input-inline" id="circleBox" style="width: 100px;">
				    	<select id="circleType" lay-filter="circleType">
				    		<option value="1" selected>每天</option>
				    		<option value="2">每周</option>
				    		<option value="3">每月</option>
				    	</select>
				    </div>
				    <div class="layui-input-inline" id="dayBox" style="width: 100px;">
				    	<select id="day" lay-filter="day">
				    	</select>
				    </div>
				    <div class="layui-input-inline" id="timeBox">
						<input type="hidden" id="processTime" autocomplete="off" placeholder="请选择执行时间"  class="layui-input">
						<input type="text" id="time" autocomplete="off" placeholder="请选择执行时间"  class="layui-input">
					</div>
					</div>
			  	</div>
			</fieldset>
		</div>
		<a class="layui-btn" lay-submit="" lay-filter="redPacket">
			创建
		</a>
		
	</form>
	
	<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
	<script type="text/javascript" th:src="@{/js/dateFormat.js}"></script>
	<script type="text/javascript" th:src="@{/manage/js/taskPage.js}"></script>
<script th:inline="none">
	layui.use(['laydate', 'layer', 'element', 'jquery','form'], function(){
		var laydate = layui.laydate //日期
		,layer = layui.layer //弹层
		,element = layui.element //元素操作
		,$ = layui.jquery
		,form = layui.form;
		
		init();
		//初始化
		function init(){
			form.render();
			
			laydate.render({
				elem: '#date',
				format:'yyyy-MM-dd HH:mm:ss',
				type: 'datetime',
				value: new Date()
			});
			
			laydate.render({
				elem: '#time',
				format:'HH:mm:ss',
				type: 'time',
				value: new Date()
			});
			$('#circleBox').hide();
			$('#dayBox').hide();
			$('#timeBox').hide();
		}
		
		//时间类型下拉框监听
		form.on('select(timeType)', function(data){
			console.log(data.elem); 
			console.log(data.value); 
			console.log(data.othis); 
			if(data.value == 0){
				$('#circleBox').hide();
				$('#dayBox').hide();
				$('#timeBox').hide();
				$('#dateBox').show();
			}else{
				$('#dateBox').hide();
				$('#circleBox').show();
				$('#timeBox').show();
				if($('#circleType').val() != 1){
					$('#dayBox').show();
				}
				var date = new Date();
				var time = date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();
				
			}
			form.render();
		});      
		
		form.on('select(circleType)', function(data){
			console.log(data.elem); 
			console.log(data.value); 
			console.log(data.othis);
			if(data.value == 1){
				$('#dayBox').hide();
			}else if(data.value == 2){
				var content = '';
				for(var i = 1;i <= 7;i++){
					content += '<option value="' + i + '">周' + i + '</option>';
				}
				$('#day').html(content);
				$('#dayBox').show();
				form.render('select');
			}else if(data.value == 3){
				var content = '';
				for(var i = 1;i <= 31;i++){
					content += '<option value="' + i + '">' + i + '号 </option>';
				}
				$('#day').html(content);
				$('#dayBox').show();
				form.render('select');
			}
			
		});
		
		//自定义验证规则
		form.verify({
			/* processTime: function(value){
				if(value.length > 100){
					return "活动名称字数不能大于100";
				}
			} */
		});
		
		form.on('submit(redPacket)', function(data){
			//监听提交
			var devices = "";
			$('input:checkbox[name="device"]:checked').each(function(index){
				if(index == 0){
					devices = $(this).val();
				}else{
					devices += "," + $(this).val();
				}
			});
			if(devices == ''){
				layer.msg("请选择设备");
				return false;
			}
			//执行时间
			console.log("timeType:" + $('#timeType').val());
			console.log("date:" + $('#date').val());
			if($('#timeType').val() == 0){
				if($('#date').val().trim() == ''){
					layer.msg("请选择执行时间");
					return false;
				}else{
					data.field.processTime = $('#date').val().trim();
				}	
			}else{
				if($('#time').val().trim() == ""){
					layer.msg("请选择执行时间");
					return false;
				}
				if($('#circleType').val() != 1){
					if($('#day').val().trim() == ''){
						layer.msg("请选择执行时间");
						return false;
					}
				}
				var date = new Date();
				data.field.processTime = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate() + " " + $('#time').val();
				console.log(data.field.processTime);
			}
			
			var names = "devices,timeType,circleType,day";
			var values = "";
			values += devices + "|";
			values += $('#timeType').val() + "|";
			values += $('#circleType').val() + "|";
			values += $('#day').val() + "|";
			
			data.field.nameStr = names;
			data.field.valueStr = values;
			data.field.taskType = 'READMESSAGE';
			
			$.ajax({ 
				url: '/task/save', 
				data: data.field,
				dataType: 'json',
				success: function(result){
					layer.msg(result.msg);
				}
			});
			
			return false;
		});
		
	});
		
</script>
</body>
</html>