<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title></title>
  <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
  <link rel="stylesheet" th:href="@{/manage/css/taskPage.css}">
</head>
<body>
	<!-- 添加好友 -->
	<form class="layui-form" action="" lay-filter="example">
		<div id="contentBox">
			<fieldset class="layui-elem-field">
				<legend>目标筛选</legend>
				<div class="layui-field-box" id="devices">
					<!-- <input type="checkbox" name="device" value="1" lay-skin="primary" title="小米6A"> -->
			  	</div>
			</fieldset>
			<fieldset class="layui-elem-field">
				<legend>时间设置</legend>
				<div class="layui-field-box">
					<div class="layui-form-item layui-form-text">
					    <label class="layui-form-label">执行时间</label>
					    <div class="layui-input-inline">
				    		<input type="hidden" id="processTime" autocomplete="off" placeholder="请选择执行时间"  class="layui-input">
							<div class="layui-input-inline">
								<input type="text" id="startTime" lay-verify="startTime|required" autocomplete="off" placeholder="请选择执行时间"  class="layui-input">
							</div>
							<div class="layui-input-inline prompt">~</div>
							<div class="layui-input-inline">
								<input type="text" id="endTime" lay-verify="endTime|required" autocomplete="off" placeholder="请选择执行时间"  class="layui-input">
							</div>
				    	</div>
					</div>
			  	</div>
			</fieldset>
			
			<fieldset class="layui-elem-field">
				<legend>发送消息</legend>
				<!-- <div class="layui-field-box">
					<div class="layui-form-item layui-form-text">
					    <div class="layui-input-block">
							<span>当前账号库中有 <span id="accountNum">0</span> 条记录可用</span>
						</div>
					</div>
					
					<div class="layui-form-item layui-form-text">
					    <label class="layui-form-label">发送数量</label>
					    <div class="layui-input-inline">
							<input type="number" name="sendNum" id="sendNum" lay-verify="sendNum|required" autocomplete="off" placeholder="请输入数字"  class="layui-input">
						</div>
						<span class="prompt">每个微信分配的发送消息好友数量</span>
					</div>
				</div>
				<div class="layui-field-box">
					<div class="layui-form-item layui-form-text">
					    <label class="layui-form-label">消息数量</label>
					    <div class="layui-input-inline" style="width:150px;">
							<input type="number" name="minMsgNum" id="minMsgNum" lay-verify="minMsgNum|required" autocomplete="off" placeholder="请输入数字" class="layui-input">
						</div>
						<div class="layui-input-inline prompt">~</div>
						<div class="layui-input-inline" style="width:150px;">
							<input type="number" name="maxMsgNum" id="maxMsgNum" lay-verify="maxMsgNum|required" autocomplete="off" placeholder="请输入数字" class="layui-input">
						</div>
						<span class="prompt">每个微信分配的发送消息数量</span>
					</div>
				</div> -->
				<div class="layui-field-box">
					<div class="layui-form-item layui-form-text">
					    <label class="layui-form-label">通话时长</label>
					    <div class="layui-input-inline" style="width:150px;">
							<input type="number" name="minTime" id="minTime" lay-verify="minTime|required" autocomplete="off" placeholder="请输入数字" class="layui-input">
						</div>
						<div class="layui-input-inline prompt">~</div>
						<div class="layui-input-inline" style="width:150px;">
							<input type="number" name="maxTime" id="maxTime" lay-verify="maxTime|required" autocomplete="off" placeholder="请输入数字" class="layui-input">
						</div>
						<span class="prompt">秒之间的随机数</span>
					</div>
				</div>
			</fieldset>
		</div>
		<a class="layui-btn" lay-submit="" lay-filter="redPacket">
			创建
		</a>
		
	</form>
	
	<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
	<script type="text/javascript" th:src="@{/js/dateFormat.js}"></script>
	<script type="text/javascript" th:src="@{/manage/js/taskPage.js}"></script>
<script th:inline="none">
	layui.use(['laydate', 'layer', 'element', 'jquery','form'], function(){
		var laydate = layui.laydate //日期
		,layer = layui.layer //弹层
		,element = layui.element //元素操作
		,$ = layui.jquery
		,form = layui.form;
		
		init();
		//初始化
		function init(){
			form.render();
			
			laydate.render({
				elem: '#startTime',
				format:'HH:mm:ss',
				type: 'time',
				value: "08:00:00"
			});
			
			laydate.render({
				elem: '#endTime',
				format:'HH:mm:ss',
				type: 'time',
				value: "22:00:00"
			});
			
// 			getAccountCount();
		}
		
		//自定义验证规则
		form.verify({
			/* processTime: function(value){
				if(value.length > 100){
					return "活动名称字数不能大于100";
				}
			} */
		});
		
		form.on('submit(redPacket)', function(data){
			
			
			
			//监听提交
			var devices = "";
			var deviceNum = 0;
			$('input:checkbox[name="device"]:checked').each(function(index){
				if(index == 0){
					devices = $(this).val();
				}else{
					devices += "," + $(this).val();
				}
				deviceNum++;
			});
			if(devices == ''){
				layer.msg("请选择设备");
				return false;
			}
			if(deviceNum < 2){
				layer.msg("当前数量数量小于2，没有对象可以发送消息");
				return false;
			}
			
			var names = "devices,timeType,startTime,endTime,voiceMinTime,voiceMaxTime";
			var values = "";
			values += devices + "|";
			values += "2|";
			values += $('#startTime').val() + "|";
			values += $('#endTime').val() + "|";
			values += $('#minTime').val() + "|";
			values += $('#maxTime').val() + "|";
			
			data.field.nameStr = names;
			data.field.valueStr = values;
			data.field.taskType = 'SENDVOICECALL';
			$.ajax({ 
				url: '/task/save', 
				data: data.field,
				dataType: 'json',
				success: function(result){
					layer.msg(result.msg);
					
				}
			});
			
			return false;
		});
		
		//获取账号数量
		function getAccountCount(){
			$.ajax({ 
				url: '/account/getAccountCount', 
				data: {},
				dataType: 'json',
				success: function(result){
					if(result.code == '000000'){
						$('#accountNum').text(result.data);
					}else{
						$('#accountNum').text(0);
					}
				}
			});
		}
		
	});
		
</script>
</body>
</html>