<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title></title>
  <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
  <link rel="stylesheet" th:href="@{/manage/css/taskPage.css}">
  
  <style>
  	.momentsImg{
  		height:64px;
  		color: #aaa;
  	}
  	.label1 {
  		width: 50px;
  	}
  	.box1 {
  		width: 100px;
  	}
  </style>
  
</head>
<body>
	<!-- 养号设置 -->
	<form class="layui-form" action="" lay-filter="example">
		<div class="layui-tab">
			<ul class="layui-tab-title">
				<li class="layui-this">任务设置</li>
				<li>阀值配置</li>
			</ul>
			
			<div class="layui-tab-content">
				<!-- 任务设置 -->
    			<div class="layui-tab-item layui-show">
    				<div id="contentBox">
						<fieldset class="layui-elem-field">
							<legend>目标筛选</legend>
							<div class="layui-field-box" id="devices">
								<!-- <input type="checkbox" name="device" value="1" lay-skin="primary" title="小米6A"> -->
						  	</div>
						</fieldset>
						<fieldset class="layui-elem-field">
							<legend>时间设置</legend>
							<div class="layui-field-box">
								<div class="layui-form-item layui-form-text">
								    <label class="layui-form-label">执行时间</label>
								    <div class="layui-input-inline">
							    		<input type="hidden" id="processTime" autocomplete="off" placeholder="请选择执行时间"  class="layui-input">
										<div class="layui-input-inline">
											<input type="text" id="startTime" lay-verify="startTime|required" autocomplete="off" placeholder="请选择执行时间"  class="layui-input">
										</div>
										<div class="layui-input-inline prompt">~</div>
										<div class="layui-input-inline">
											<input type="text" id="endTime" lay-verify="endTime|required" autocomplete="off" placeholder="请选择执行时间"  class="layui-input">
										</div>
							    	</div>
								</div>
								<div class="layui-form-item layui-form-text">
								    <label class="layui-form-label">任务频率</label>
								    <div class="layui-input-inline">
								    	<input type="text" id="taskRate" lay-verify="taskRate|required" autocomplete="off" placeholder="请输入几分钟执行一次任务"  class="layui-input">
							    	</div>
							    	<span class="prompt">分钟，建议设置时长大于等于<span id="suggestRate">0</span>分钟</span>
								</div>
						  	</div>
						</fieldset>
						
						<fieldset class="layui-elem-field">
							<legend>互聊对象</legend>
							<div class="layui-field-box">
								<div class="layui-form-item layui-form-text">
									<label class="layui-form-label">互聊对象</label>
								    <div class="layui-input-block">
								    	<textarea class="layui-textarea" id="friendTarget" name="friendTarget" lay-verify="friendTarget" placeholder="请填写微信号或手机号，一行一个"></textarea>
							    	</div>
								</div>
						  	</div>
						</fieldset>
						
						<fieldset class="layui-elem-field">
							<legend>
								<input type="checkbox" id="smgTask" name="taskChecked" lay-skin="primary" value="SMG" lay-filter="taskChecked">发送消息
							</legend>
							<div class="layui-field-box">
								<div class="layui-form-item layui-form-text">
								    <label class="layui-form-label">时间间隔</label>
								    <div class="layui-input-inline" style="width:150px;">
										<input type="number" name="smgMinTime" id="smgMinTime" lay-verify="smgMinTime" autocomplete="off" placeholder="请输入数字" class="layui-input">
									</div>
									<div class="layui-input-inline prompt">~</div>
									<div class="layui-input-inline" style="width:150px;">
										<input type="number" name="smgMaxTime" id="smgMaxTime" lay-verify="smgMaxTime" autocomplete="off" placeholder="请输入数字" class="layui-input">
									</div>
									<span class="prompt">秒之间的随机数</span>
								</div>
							</div>
						</fieldset>
						
						<fieldset class="layui-elem-field">
							<legend>
								<input type="checkbox" id="readMessageTask" name="taskChecked" lay-skin="primary" value="READMESSAGE" lay-filter="taskChecked">阅读消息
							</legend>
							<div class="layui-field-box">
								
							</div>
						</fieldset>
						
						<fieldset class="layui-elem-field">
							<legend>
								<input type="checkbox" id="lVoiceTask" name="taskChecked" lay-skin="primary" value="LONGVOICE" lay-filter="taskChecked">语音通话
							</legend>
							<div class="layui-field-box">
								<div class="layui-form-item layui-form-text">
								    <label class="layui-form-label">通话时长</label>
								    <div class="layui-input-inline" style="width:150px;">
										<input type="number" name="voiceMinTime" id="voiceMinTime" lay-verify="voiceMinTime" autocomplete="off" placeholder="请输入数字" class="layui-input">
									</div>
									<div class="layui-input-inline prompt">~</div>
									<div class="layui-input-inline" style="width:150px;">
										<input type="number" name="voiceMaxTime" id="voiceMaxTime" lay-verify="voiceMaxTime" autocomplete="off" placeholder="请输入数字" class="layui-input">
									</div>
									<span class="prompt">秒之间的随机数</span>
								</div>
							</div>
						</fieldset>
						
						<fieldset class="layui-elem-field">
							<legend>
								<input type="checkbox" id="lVideoTask" name="taskChecked" lay-skin="primary" value="LONGVIDEO" lay-filter="taskChecked">视频通话
							</legend>
							<div class="layui-field-box">
								<div class="layui-form-item layui-form-text">
								    <label class="layui-form-label">通话时长</label>
								    <div class="layui-input-inline" style="width:150px;">
										<input type="number" name="videoMinTime" id="videoMinTime" lay-verify="videoMinTime" autocomplete="off" placeholder="请输入数字" class="layui-input">
									</div>
									<div class="layui-input-inline prompt">~</div>
									<div class="layui-input-inline" style="width:150px;">
										<input type="number" name="videoMaxTime" id="videoMaxTime" lay-verify="videoMaxTime" autocomplete="off" placeholder="请输入数字" class="layui-input">
									</div>
									<span class="prompt">秒之间的随机数</span>
								</div>
							</div>
						</fieldset>
						
						<fieldset class="layui-elem-field">
							<legend>
								<input type="checkbox" id="readMoments" name="taskChecked" lay-skin="primary" value="RFRICYCLE" lay-filter="taskChecked">阅读朋友圈
							</legend>
							<div class="layui-field-box">
								<div class="layui-form-item layui-form-text">
								    <label class="layui-form-label">阅读时长</label>
								    <div class="layui-input-inline" style="width:150px;">
										<input type="number" name="rmMinTime" id="rmMinTime" lay-verify="rmMinTime" autocomplete="off" placeholder="请输入数字" class="layui-input">
									</div>
									<div class="layui-input-inline prompt">~</div>
									<div class="layui-input-inline" style="width:150px;">
										<input type="number" name="rmMaxTime" id="rmMaxTime" lay-verify="rmMaxTime" autocomplete="off" placeholder="请输入数字" class="layui-input">
									</div>
									<span class="prompt">秒之间的随机数</span>
								</div>
								<div class="layui-form-item layui-form-text">
								    <label class="layui-form-label">点赞概率</label>
								    <div class="layui-input-inline">
										<input type="number" name="goodRatio" id="goodRatio" lay-verify="goodRatio" autocomplete="off" value="0" class="layui-input">
									</div>
									<span class="prompt">百分比，0为不点赞，1~100为每条朋友圈消息点赞概率</span>
								</div>
							</div>
						</fieldset>
						
						<fieldset class="layui-elem-field" id="sendMomentsBox">
							<legend>
								<input type="checkbox" id="sendMoments" name="taskChecked" lay-skin="primary" value="SENDMOMENTS" lay-filter="taskChecked">发送朋友圈
							</legend>
							<div class="layui-tab">
								<ul class="layui-tab-title">
								    <li class="layui-this">内容1</li>
								    <li>内容2</li>
								    <li>内容3</li>
								    <li>内容4</li>
								</ul>
								<div class="layui-tab-content">
									<div class="layui-tab-item layui-show">
										<div class="layui-form-item layui-form-text">
										    <label class="layui-form-label">文本内容</label>
										    <div class="layui-input-block">
												<textarea class="layui-textarea" id="msg1" name="momentsMsg" lay-verify="msg1"></textarea>
											</div>
										</div>
										<div class="layui-form-item layui-form-text">
										    <label class="layui-form-label">上传</label>
										    <div class="layui-input-inline">
										    	<input type="hidden" value="" class="momentsFile">
												<img class="momentsImg" src="/image/add.png">
											</div>
										</div>
									</div>
									<div class="layui-tab-item">
										<div class="layui-form-item layui-form-text">
										    <label class="layui-form-label">文本内容</label>
										    <div class="layui-input-block">
												<textarea class="layui-textarea" id="msg2" name="momentsMsg" lay-verify="msg2"></textarea>
											</div>
										</div>
										<div class="layui-form-item layui-form-text">
										    <label class="layui-form-label">上传</label>
										    <div class="layui-input-inline">
										    	<input type="hidden" value="" class="momentsFile">
												<img class="momentsImg" src="/image/add.png">  
											</div>
										</div>
									</div>
									<div class="layui-tab-item">
										<div class="layui-form-item layui-form-text">
										    <label class="layui-form-label">文本内容</label>
										    <div class="layui-input-block">
												<textarea class="layui-textarea" id="msg3" name="momentsMsg" lay-verify="msg3"></textarea>
											</div>
										</div>
										<div class="layui-form-item layui-form-text">
										    <label class="layui-form-label">上传</label>
										    <div class="layui-input-inline">
										    	<input type="hidden" value="" class="momentsFile">
												<img class="momentsImg" src="/image/add.png">  
											</div>
										</div>
									</div>
									<div class="layui-tab-item">
										<div class="layui-form-item layui-form-text">
										    <label class="layui-form-label">文本内容</label>
										    <div class="layui-input-block">
												<textarea class="layui-textarea" id="msg4" name="momentsMsg" lay-verify="msg4"></textarea>
											</div>
										</div>
										<div class="layui-form-item layui-form-text">
										    <label class="layui-form-label">上传</label>
										    <div class="layui-input-inline">
										    	<input type="hidden" value="" class="momentsFile">
												<img class="momentsImg" src="/image/add.png">  
											</div>
										</div>
									</div>
								</div>
							</div>
						</fieldset>
						
					</div>
    			</div>
    			
    			<!-- 阀值设置 -->
    			<div class="layui-tab-item">
    				<fieldset class="layui-elem-field">
						<legend>
							时间段概率设置
						</legend>
						<div class="layui-field-box">
							<div class="layui-form-item layui-form-text">
								<div class="layui-inline">
									<label class="layui-form-label label1">时间段1</label>
								    <div class="layui-input-inline box1" style="width:100px;">
										<input type="number" name="timeOne" id="timeOneMin" lay-verify="timeOneMin|required" autocomplete="off" placeholder="请输入数字" class="layui-input">
									</div>
									<div class="layui-input-inline prompt">~</div>
									<div class="layui-input-inline box1" style="width:100px;">
										<input type="number" name="timeOne" id="timeOneMax" lay-verify="timeOneMax|required" autocomplete="off" placeholder="请输入数字" class="layui-input">
									</div>
								</div>
							    <div class="layui-inline">
							    	<label class="layui-form-label label1">概率1</label>
								    <div class="layui-input-inline box1" style="width:100px;">
										<input type="number" name="regionOne" id="regionOneMin" lay-verify="regionOneMin|required" autocomplete="off" placeholder="请输入数字" class="layui-input">
									</div>
									<div class="layui-input-inline prompt">~</div>
									<div class="layui-input-inline box1"  style="width:100px;">
										<input type="number" name="regionOne" id="regionOneMax" lay-verify="regionOneMax|required" autocomplete="off" placeholder="请输入数字" class="layui-input">
									</div>
							    </div>
							</div>
							
							<div class="layui-form-item layui-form-text">
								<div class="layui-inline">
									<label class="layui-form-label label1">时间段2</label>
								    <div class="layui-input-inline box1"  style="width:100px;">
										<input type="number" name="timeTwo" id="timeTwoMin" lay-verify="timeTwoMin|required" autocomplete="off" placeholder="请输入数字" class="layui-input">
									</div>
									<div class="layui-input-inline prompt">~</div>
									<div class="layui-input-inline box1"  style="width:100px;">
										<input type="number" name="timeTwo" id="timeTwoMax" lay-verify="timeTwoMax|required" autocomplete="off" placeholder="请输入数字" class="layui-input">
									</div>
								</div>
								<div class="layui-inline">
									<label class="layui-form-label label1">概率2</label>
								    <div class="layui-input-inline"  style="width:100px;">
										<input type="number" name="regionTwo" id="regionTwoMin" lay-verify="regionTwoMin|required" autocomplete="off" placeholder="请输入数字" class="layui-input">
									</div>
									<div class="layui-input-inline prompt">~</div>
									<div class="layui-input-inline box1" style="width:100px;">
										<input type="number" name="regionTwo" id="regionTwoMax" lay-verify="regionTwoMax|required" autocomplete="off" placeholder="请输入数字" class="layui-input">
									</div>
								</div>
							    
							</div>
							
							<div class="layui-form-item layui-form-text">
								<div class="layui-inline">
									<label class="layui-form-label label1">时间段3</label>
								    <div class="layui-input-inline box1" style="width:100px;">
										<input type="number" name="timeThree" id="timeThreeMin" lay-verify="timeThreeMin|required" autocomplete="off" placeholder="请输入数字" class="layui-input">
									</div>
									<div class="layui-input-inline prompt">~</div>
									<div class="layui-input-inline box1" style="width:100px;">
										<input type="number" name="timeThree" id="timeThreeMax" lay-verify="timeThreeMax|required" autocomplete="off" placeholder="请输入数字" class="layui-input">
									</div>
								</div>
								<div class="layui-inline">
									<label class="layui-form-label label1">概率3</label>
								    <div class="layui-input-inline box1" style="width:100px;">
										<input type="number" name="regionThree" id="regionThreeMin" lay-verify="regionThreeMin|required" autocomplete="off" placeholder="请输入数字" class="layui-input">
									</div>
									<div class="layui-input-inline prompt">~</div>
									<div class="layui-input-inline box1" style="width:100px;">
										<input type="number" name="regionThree" id="regionThreeMax" lay-verify="regionThreeMax|required" autocomplete="off" placeholder="请输入数字" class="layui-input">
									</div>
								</div>
							</div>
							
							<div class="layui-form-item layui-form-text">
								<div class="layui-inline">
									<label class="layui-form-label label1">时间段4</label>
								    <div class="layui-input-inline box1" style="width:100px;">
										<input type="number" name="timeFour" id="timeFourMin" lay-verify="timeFourMin|required" autocomplete="off" placeholder="请输入数字" class="layui-input">
									</div>
									<div class="layui-input-inline prompt">~</div>
									<div class="layui-input-inline box1" style="width:100px;">
										<input type="number" name="timeFour" id="timeFourMax" lay-verify="timeFourMax|required" autocomplete="off" placeholder="请输入数字" class="layui-input">
									</div>
								</div>
								<div class="layui-inline">
									<label class="layui-form-label label1">概率4</label>
								    <div class="layui-input-inline box1" style="width:100px;">
										<input type="number" name="regionFour" id="regionFourMin" lay-verify="regionFourMin|required" autocomplete="off" placeholder="请输入数字" class="layui-input">
									</div>
									<div class="layui-input-inline prompt">~</div>
									<div class="layui-input-inline box1" style="width:100px;">
										<input type="number" name="regionFour" id="regionFourMax" lay-verify="regionFourMax|required" autocomplete="off" placeholder="请输入数字" class="layui-input">
									</div>
								</div>
							</div> 
							
							<div class="layui-form-item layui-form-text">
								<div class="layui-inline">
									<label class="layui-form-label label1">时间段5</label>
								    <div class="layui-input-inline box1" style="width:100px;">
										<input type="number" name="timeFive" id="timeFiveMin" lay-verify="timeFiveMin|required" autocomplete="off" placeholder="请输入数字" class="layui-input">
									</div>
									<div class="layui-input-inline prompt">~</div>
									<div class="layui-input-inline box1" style="width:100px;">
										<input type="number" name="timeFive" id="timeFiveMax" lay-verify="timeFiveMax|required" autocomplete="off" placeholder="请输入数字" class="layui-input">
									</div>
								</div>
								<div class="layui-inline">
									<label class="layui-form-label label1">概率5</label>
								    <div class="layui-input-inline box1" style="width:100px;">
										<input type="number" name="regionFive" id="regionFiveMin" lay-verify="regionFiveMin|required" autocomplete="off" placeholder="请输入数字" class="layui-input">
									</div>
									<div class="layui-input-inline prompt">~</div>
									<div class="layui-input-inline box1" style="width:100px;">
										<input type="number" name="regionFive" id="regionFiveMax" lay-verify="regionFiveMax|required" autocomplete="off" placeholder="请输入数字" class="layui-input">
									</div>
								</div>
							    
							</div>
							
							<div class="layui-form-item layui-form-text">
								<div class="layui-inline">
									<label class="layui-form-label label1">时间段6</label>
								    <div class="layui-input-inline box1" style="width:100px;">
										<input type="number" name="timeSix" id="timeSixMin" lay-verify="timeSixMin|required" autocomplete="off" placeholder="请输入数字" class="layui-input">
									</div>
									<div class="layui-input-inline prompt">~</div>
									<div class="layui-input-inline box1" style="width:100px;">
										<input type="number" name="timeSix" id="timeSixMax" lay-verify="timeSixMax|required" autocomplete="off" placeholder="请输入数字" class="layui-input">
									</div>
								</div>
								<div class="layui-inline">
									<label class="layui-form-label label1">概率6</label>
								    <div class="layui-input-inline box1" style="width:100px;">
										<input type="number" name="regionSix" id="regionSixMin" lay-verify="regionSixMin|required" autocomplete="off" placeholder="请输入数字" class="layui-input">
									</div>
									<div class="layui-input-inline prompt">~</div>
									<div class="layui-input-inline box1" style="width:100px;">
										<input type="number" name="regionSix" id="regionSixMax" lay-verify="regionSixMax|required" autocomplete="off" placeholder="请输入数字" class="layui-input">
									</div>
								</div>
							    
							</div>
							
							<div class="layui-form-item layui-form-text">
								<div class="layui-inline">
									<label class="layui-form-label label1">时间段7</label>
								    <div class="layui-input-inline box1" style="width:100px;">
										<input type="number" name="timeSeven" id="timeSevenMin" lay-verify="timeSevenMin|required" autocomplete="off" placeholder="请输入数字" class="layui-input">
									</div>
									<div class="layui-input-inline prompt">~</div>
									<div class="layui-input-inline box1" style="width:100px;">
										<input type="number" name="timeSeven" id="timeSevenMax" lay-verify="timeSevenMax|required" autocomplete="off" placeholder="请输入数字" class="layui-input">
									</div>
								</div>
								<div class="layui-inline">
									<label class="layui-form-label label1">概率7</label>
								    <div class="layui-input-inline box1" style="width:100px;">
										<input type="number" name="regionSeven" id="regionSevenMin" lay-verify="regionSevenMin|required" autocomplete="off" placeholder="请输入数字" class="layui-input">
									</div>
									<div class="layui-input-inline prompt">~</div>
									<div class="layui-input-inline box1" style="width:100px;">
										<input type="number" name="regionSeven" id="regionSevenMax" lay-verify="regionSevenMax|required" autocomplete="off" placeholder="请输入数字" class="layui-input">
									</div>
								</div>
							    
							</div>
							
						</div>
					</fieldset>
					
					<fieldset class="layui-elem-field">
						<legend>
							任务概率
						</legend>
						<div class="layui-field-box">
							<div class="layui-form-item layui-form-text">
							    <div class="layui-inline">
									<label class="layui-form-label">发送消息</label>
								    <div class="layui-input-inline">
										<input type="number" name="smgRatio" id="smgRatio" lay-verify="smgRatio|required" autocomplete="off" placeholder="请输入数字" class="layui-input">
									</div>
								</div>
								
								<div class="layui-inline">
									<label class="layui-form-label">阅读消息</label>
								    <div class="layui-input-inline">
										<input type="number" name="readmessageRatio" id="readmessageRatio" lay-verify="readmessageRatio|required" autocomplete="off" placeholder="请输入数字" class="layui-input">
									</div>
								</div>
								
							</div>
							<div class="layui-form-item layui-form-text">
								<div class="layui-inline">
									<label class="layui-form-label">语音通话</label>
								    <div class="layui-input-inline">
										<input type="number" name="longVoiceRatio" id="longvoiceRatio" lay-verify="longVoiceRatio|required" autocomplete="off" placeholder="请输入数字" class="layui-input">
									</div>
								</div>
								
							    <div class="layui-inline">
									<label class="layui-form-label">视频通话</label>
								    <div class="layui-input-inline">
										<input type="number" name="longVideoRatio" id="longvideoRatio" lay-verify="longVideoRatio|required" autocomplete="off" placeholder="请输入数字" class="layui-input">
									</div>
								</div>
							</div>
							<div class="layui-form-item layui-form-text">
							    <div class="layui-inline">
									<label class="layui-form-label">发送朋友圈</label>
								    <div class="layui-input-inline">
										<input type="number" name="sendMomentsRatio" id="sendmomentsRatio" lay-verify="sendMomentsRatio|required" autocomplete="off" placeholder="请输入数字" class="layui-input">
									</div>
								</div>
								
								<div class="layui-inline">
									<label class="layui-form-label">阅读朋友圈</label>
								    <div class="layui-input-inline">
										<input type="number" name="rfricycleRatio" id="rfricycleRatio" lay-verify="rfricycleRatio|required" autocomplete="off" placeholder="请输入数字" class="layui-input">
									</div>
								</div>
							</div>
						</div>
					</fieldset>
					
    			</div>
    			
    			<a class="layui-btn" lay-submit="" lay-filter="redPacket">
					创建
				</a>
			</div>
			
		</div>
		
		
		
		
	</form>
	
	<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
	<script type="text/javascript" th:src="@{/js/dateFormat.js}"></script>
	<script type="text/javascript" th:src="@{/js/base.js}"></script>
	<script type="text/javascript" th:src="@{/manage/js/taskPage.js}"></script>
<script th:inline="none">
	layui.use(['laydate', 'layer', 'element', 'jquery','form', 'upload'], function(){
		var laydate = layui.laydate //日期
		,layer = layui.layer //弹层
		,element = layui.element //元素操作
		,$ = layui.jquery
		,form = layui.form
		,upload = layui.upload;
		
		init();
		//初始化
		function init(){
			form.render();
			
			laydate.render({
				elem: '#startTime',
				format:'HH:mm:ss',
				type: 'time',
				value: "08:00:00"
			});
			
			laydate.render({
				elem: '#endTime',
				format:'HH:mm:ss',
				type: 'time',
				value: "22:00:00"
			});
			
			gerTimeRegion();
			
			getTaskRatio();
		}
		
		//监听输入框变化，计算任务频率建议时长
		$('.layui-input').on('change', function(){
			var rate = countRate();
			$('#suggestRate').text(rate);
		});
		
		form.on('checkbox(taskChecked)', function(data){
			var rate = countRate();
			$('#suggestRate').text(rate);
		});
		
		function countRate(){
			var rate = 0;
			$('input:checkbox[name="taskChecked"]:checked').each(function(index){
				var time = 0;
				if($(this).val() == "SMG"){
					time = 4 * 2 * 3 * $('#smgMaxTime').val();
				}else if($(this).val() == "LONGVOICE"){
					//语音通话
					time = parseInt($('#voiceMaxTime').val()) + 30;
				}else if($(this).val() == "LONGVIDEO"){
					//视频通话
					time = parseInt($('#videoMaxTime').val()) + 30;
				}else if($(this).val() == "RFRICYCLE"){
					//阅读朋友圈
					time = $('#rmMaxTime').val();
				}else if($(this).val() == "SENDMOMENTS"){
					//发送朋友圈
					time = 90;
				}
				if(time > rate){
					rate = time;
				}
			});
			if(rate != 0){
				rate = Math.ceil(rate / 60);
			}
			return rate;
		}
		
		//上传图片
		upload.render({
			elem: '.momentsImg'
			,url: '/task/upload'
			,done: function(res, index, upload){ //上传后的回调
	        	if(res.code == "000000"){
	        		var obj = res.data;
	        		var fileType = getFileType(obj);
	        		if(fileType == "video"){
	        			$('#sendMomentsBox').find(".layui-show").find(".momentsImg").attr("src", "/image/video.png");
	        		}else {
	        			$('#sendMomentsBox').find(".layui-show").find(".momentsImg").attr("src", obj);
	        		}
	        		$('#sendMomentsBox').find(".layui-show").find('.momentsFile').val(obj);
	        		
	        	}else{
	        		layer.msg(res.msg);
	        	}
			} 
			,accept: 'file' //允许上传的文件类型
			,size: 1024 //最大允许上传的文件大小
		});
		
		//自定义验证规则
		form.verify({
			taskRate: function(value){
				if(value <= 0){
					return "任务频率必须大于0";
				}
				if(value > 60){
					return "任务频率必须小于60分钟";
				}
				var r =  /^\+?[1-9][0-9]*$/;
				if(!r.test(value)){
					return "任务频率只能为正整数";
				}
			},
			friendTarget: function(value){
				if($('#smgTask').prop('checked') || $('#lVoiceTask').prop('checked') || $('#lVideoTask').prop('checked')){
					if(value == null || value == ''){
						return "选择了发送消息、语音、视频互聊对象不能为空";
					}
				}
			},
			smgMinTime: function(value){
				if($('#smgTask').prop('checked')){
					if(value == null || value == ''){
						return "必填项不能为空";
					}
				}
			},
			smgMaxTime: function(value){
				if($('#smgTask').prop('checked')){
					if(value == null || value == ''){
						return "必填项不能为空";
					}
				}
			},
			voiceMinTime: function(value){
				if($('#lVoiceTask').prop('checked')){
					if(value == null || value == ''){
						return "必填项不能为空";
					}
				}
			},
			voiceMaxTime: function(value){
				if($('#lVoiceTask').prop('checked')){
					if(value == null || value == ''){
						return "必填项不能为空";
					}
				}
			},
			videoMinTime: function(value){
				if($('#lVideoTask').prop('checked')){
					if(value == null || value == ''){
						return "必填项不能为空";
					}
				}
			},
			videoMaxTime: function(value){
				if($('#lVideoTask').prop('checked')){
					if(value == null || value == ''){
						return "必填项不能为空";
					}
				}
			},
			rmMinTime: function(value){
				if($('#readMoments').prop('checked')){
					if(value == null || value == ''){
						return "必填项不能为空";
					}
				}
			},
			rmMiaxTime: function(value){
				if($('#readMoments').prop('checked')){
					if(value == null || value == ''){
						return "必填项不能为空";
					}
				}
			},
			goodRatio: function(value){
				if($('#readMoments').prop('checked')){
					if(value == null || value == ''){
						return "必填项不能为空";
					}
				}
			},
			timeOneMin: function(value){
				return timeVerify(value);
			},
			timeOneMax: function(value){
				return timeVerify(value);
			},
			timeTwoMin: function(value){
				return timeVerify(value);
			},
			timeTwoMax: function(value){
				return timeVerify(value);
			},
			timeThreeMin: function(value){
				return timeVerify(value);
			},
			timeThreeMax: function(value){
				return timeVerify(value);
			},
			timeFourMin: function(value){
				return timeVerify(value);
			},
			timeFourMax: function(value){
				return timeVerify(value);
			},
			timeFiveMin: function(value){
				return timeVerify(value);
			},
			timeFiveMax: function(value){
				return timeVerify(value);
			},
			timeSixMin: function(value){
				return timeVerify(value);
			},
			timeSixMax: function(value){
				return timeVerify(value);
			},
			timeSevenMin: function(value){
				return timeVerify(value);
			},
			timeSevenMax: function(value){
				return timeVerify(value);
			},
			regionOneMin: function(value){
				return regionVerify(value);
			},
			regionOneMax: function(value){
				return regionVerify(value);
			},
			regionTwoMin: function(value){
				return regionVerify(value);
			},
			regionTwoMax: function(value){
				return regionVerify(value);
			},
			regionThreeMin: function(value){
				return regionVerify(value);
			},
			regionThreeMax: function(value){
				return regionVerify(value);
			},
			regionFourMin: function(value){
				return regionVerify(value);
			},
			regionFourMax: function(value){
				return regionVerify(value);
			},
			regionFiveMin: function(value){
				return regionVerify(value);
			},
			regionFiveMax: function(value){
				return regionVerify(value);
			},
			regionSixMin: function(value){
				return regionVerify(value);
			},
			regionSixMax: function(value){
				return regionVerify(value);
			},
			regionSevenMin: function(value){
				return regionVerify(value);
			},
			regionSevenMax: function(value){
				return regionVerify(value);
			},
			smgRatio: function(value){
				return taskRatioVerify(value);
			},
			readmessageRatio: function(value){
				return taskRatioVerify(value);
			},
			longVoiceRatio: function(value){
				return taskRatioVerify(value);
			},
			longVideoRatio: function(value){
				return taskRatioVerify(value);
			},
			rfricycleRatio: function(value){
				return taskRatioVerify(value);
			},
			sendMomentsRatio: function(value){
				return taskRatioVerify(value);
			},
		});
		
		//时间段验证
		function timeVerify(value){
			if(value < 0 || value > 24){
				return "时间段只能在0~24数值之间";
			}
			var r =  /^\d+$/;
			if(!r.test(value)){
				return "时间段只能为正整数";
			}
		}
		//时间段概率验证
		function regionVerify(value){
			if(value < 0 || value > 10){
				return "时间段概率只能在0~10之间";
			}
		}
		
		//任务概率
		function taskRatioVerify(value){
			var r =  /^\d+$/;
			if(!r.test(value)){
				return "任务概率只能为正整数";
			}
		}
		
		form.on('submit(redPacket)', function(data){
			//监听提交
			//获取选中设备
			var devices = "";
			var deviceNum = 0;
			$('input:checkbox[name="device"]:checked').each(function(index){
				if(index == 0){
					devices = $(this).val();
				}else{
					devices += "," + $(this).val();
				}
				deviceNum++;
			});
			if(devices == ''){
				layer.msg("请选择设备");
				return false;
			}
			/* if(deviceNum < 2){
				layer.msg("当前数量数量小于2，没有对象可以发送消息");
				return false;
			} */
			
			
			var names = "devices,timeType,startTime,endTime,taskRate";
			var values = "";
			values += devices + "|";
			values += "2|";
			values += $('#startTime').val() + "|";
			values += $('#endTime').val() + "|";
			values += $('#taskRate').val() + "|";
			
			if($('#friendTarget').val() != null && $('#friendTarget').val() != ""){
				names += ",friendTarget";
				var friendTarget = $('#friendTarget').val().replace(/\n/g, ";");
				values += friendTarget + "|";
			}
			
			names += ",taskChecked";
			//获取选中任务
			var taskChecked = '';
			var timeValue = '';
			var isOut = false;
			$('input:checkbox[name="taskChecked"]:checked').each(function(index){
				if(index == 0){
					taskChecked = $(this).val();
				}else{
					taskChecked += ";" + $(this).val();
				}
				if($(this).val() == "SMG"){
					//好友互聊
					names += ",smgMinTime,smgMaxTime";
					timeValue += $('#smgMinTime').val() + "|" + $('#smgMaxTime').val()  + "|";
				}else if($(this).val() == "LONGVOICE"){
					//语音通话
					names += ",voiceMinTime,voiceMaxTime";
					timeValue += $('#voiceMinTime').val() + "|" + $('#voiceMaxTime').val()  + "|";
				}else if($(this).val() == "LONGVIDEO"){
					//视频通话
					names += ",videoMinTime,videoMaxTime";
					timeValue += $('#videoMinTime').val() + "|" + $('#videoMaxTime').val() + "|";
				}else if($(this).val() == "RFRICYCLE"){
					//阅读朋友圈
					names += ",rmMinTime,rmMaxTime,goodRatio";
					timeValue += $('#rmMinTime').val() + "|" + $('#rmMaxTime').val() + "|";
					timeValue += $('#goodRatio').val() + "|";
				}else if($(this).val() == "SENDMOMENTS"){
					//发送朋友圈
					var momentsMsgs = [];
					var momentsImgs = [];
					$('textarea[name="momentsMsg"]').each(function(index2){
						if($(this).val() == '' && $('.momentsFile').eq(index2).val() == ''){
							return true;
						}
						momentsMsgs.push($(this).val());
						momentsImgs.push($('.momentsFile').eq(index2).val());
						
					});
					/* console.log(momentsMsgs);
					console.log(momentsImgs); */
					if(momentsMsgs.length == 0 && momentsImgs.length == 0){
						layer.msg("发送朋友圈至少填一条数据");
						isOut = true;
						return false;
					}
					names += ',momentsMsg,momentsImg';
					for(var i = 0;i < momentsMsgs.length;i++){
						if(i == 0){
							timeValue += momentsMsgs[i];
						}else{
							timeValue += ',' + momentsMsgs[i];
						}
					}
					timeValue += '|';
					for(var i = 0;i < momentsImgs.length;i++){
						if(i == 0){
							timeValue += momentsImgs[i];
						}else{
							timeValue += ',' + momentsImgs[i];
						}
					}
					timeValue += '|';
				}
			});
			
			if(isOut){
				return false;
			}
			
			if(taskChecked == ''){
				layer.msg("请选择要执行的任务");
				return false;
			}
			values += taskChecked + "|";
			values += timeValue;
			
			//获取阀值参数
			var timeRegionIds = ["One", "Two", "Three", "Four", "Five", "Six", "Seven"];
			for(var i = 0;i < timeRegionIds.length;i++){
				var time = $('#time' + timeRegionIds[i] + "Min").val() + ":" + $('#time' + timeRegionIds[i] + "Max").val();
				var ragion = $('#region' + timeRegionIds[i] + "Min").val() + ":" + $('#region' + timeRegionIds[i] + "Max").val();
				names += ',timeRegion' + timeRegionIds[i];
				values += time + ";" + ragion + "|";
			}
			var taskRatio = "";
			for(var i = 0;i < taskRatioIds.length;i++){
				if(i == 0){
					taskRatio = taskRatioIds[i] + ":" + $('#' + taskRatioIds[i].toLowerCase() + "Ratio").val();
				}else{
					taskRatio += ";" + taskRatioIds[i] + ":" + $('#' + taskRatioIds[i].toLowerCase() + "Ratio").val();
				}
			}
			names += ",taskRatioAction";
			values += taskRatio + "|";
// 			console.log(names);
// 			console.log(values);
			data.field.nameStr = names;
			data.field.valueStr = values;
			data.field.taskType = 'SERVICEACCOUNT';

			$('#suggestRate').text(countRate());
			if(parseInt($('#taskRate').val()) < parseInt($('#suggestRate').text())){
				layer.confirm('任务频率建议大于等于' + $("#suggestRate").text() + '分。您配置的任务频率小于建议时长，任务执行过程中有可能会造成任务堵塞手机卡死，是否确定创建该任务', {
					btn: ['确定', '取消'] 
				}, function(index, layero){
					layer.close(index);
					$.ajax({ 
						url: '/task/save', 
						data: data.field,
						dataType: 'json',
						success: function(result){
							layer.msg(result.msg);
							if(result.code == "000000"){
								setTimeout( function(){
									window.location.reload();
								}, 2 * 1000 );
							}
						}
					});
				}, function(index){
					layer.close(index);
				});
			}else{
				$.ajax({ 
					url: '/task/save', 
					data: data.field,
					dataType: 'json',
					success: function(result){
						layer.msg(result.msg);
						if(result.code == "000000"){
							setTimeout( function(){
								window.location.reload();
							}, 2 * 1000 );
						}
					}
				});
			}
			
			
			return false;
		});
		
		//获取账号数量
		function getAccountCount(){
			$.ajax({ 
				url: '/account/getAccountCount', 
				data: {},
				dataType: 'json',
				success: function(result){
					if(result.code == '000000'){
						$('#accountNum').text(result.data);
					}else{
						$('#accountNum').text(0);
					}
				}
			});
		}
		
		//获取时间段概率
		function gerTimeRegion(){
			$.ajax({ 
				url: '/task/getTimeRegion', 
				dataType: 'json',
				success: function(result){
					if(result.code == '000000'){
						var data = result.data;
						for(var key in data){
							var value = data[key].split(";"); 
							var time = value[0].split(":");
							var region = value[1].split(":");
							var id = key.substring("timeRegion".length);
							$('#time' + id + "Min").val(time[0]);
							$('#time' + id + "Max").val(time[1]);
							$('#region' + id + "Min").val(region[0]);
							$('#region' + id + "Max").val(region[1]);
						}
					}
					
				}
			});
		}
		
		//获取任务概率
		var taskRatioIds = [];
		function getTaskRatio(){
			$.ajax({ 
				url: '/task/getTaskRatio', 
				dataType: 'json',
				success: function(result){
					if(result.code == '000000'){
						var data = result.data;
						for(var key in data){
							taskRatioIds.push(key);
							$('#' + key.toLowerCase() + "Ratio").val(data[key]);
						}
					}
					
				}
			});
		}
		
	});
		
</script>
</body>
</html>