<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title></title>
  <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
  <link rel="stylesheet" th:href="@{/manage/css/taskPage.css}">
</head>
<body>
	<!-- 添加好友 -->
	<form class="layui-form" action="" lay-filter="example">
		<div id="contentBox">
			<fieldset class="layui-elem-field">
				<legend>添加好友检查</legend>
				<div class="layui-field-box">
					<div class="layui-form-item layui-form-text">
					    <label class="layui-form-label">任务ID</label>
					    <div class="layui-input-inline">
							<input type="number" name="addFriendId" id="addFriendId" lay-verify="addFriendId|required" autocomplete="off" placeholder="请输入数字"  class="layui-input">
						</div>
						<span class="prompt">关联添加好友任务</span>
					</div>
					
					<div class="layui-form-item layui-form-text">
					    <label class="layui-form-label">营销语</label>
					    <div class="layui-input-block">
							<textarea placeholder="发送营销用语，如：好久不见，老朋友。可设置多条，空行间隔，系统随机抽取使用" 
								class="layui-textarea" id="message" name="message" lay-verify="message|required"></textarea>
						</div>
					</div>
				</div>
			</fieldset>
		</div>
		<a class="layui-btn" lay-submit="" lay-filter="redPacket">
			创建
		</a>
		
	</form>
	
	<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
	<script type="text/javascript" th:src="@{/js/dateFormat.js}"></script>
	<script type="text/javascript" th:src="@{/manage/js/taskPage.js}"></script>
<script th:inline="none">
	layui.use(['laydate', 'layer', 'element', 'jquery','form'], function(){
		var laydate = layui.laydate //日期
		,layer = layui.layer //弹层
		,element = layui.element //元素操作
		,$ = layui.jquery
		,form = layui.form;
		
		init();
		//初始化
		function init(){
			form.render();
		}
		
		function getFriendCount(){
			//获取好友库可添加好友数量
			$.ajax({ 
				url: '/qqAccountData/getMayAddCount', 
				data: {},
				dataType: 'json',
				success: function(result){
					if(result.code == '000000'){
						if(result.data != null){
							$('#friendNum').text(result.data);
						}
					}else{
						layer.msg("获取好友库好友数量失败");
					}
				}
			});
		}
		getFriendCount();
		
		//自定义验证规则
		form.verify({
			
		});
		
		form.on('submit(redPacket)', function(data){
			
			//查看添加好友任务ID是否存在
			if(!isTask($('#addFriendId').val())){
				return false;
			}
			
			var names = "addFriendId,message,timeType,devices";
			var values = "";
			values += data.field.addFriendId + "|";
			values += data.field.message + "|";
			values += "0|";
			values += devices + "|";
// 			console.log(names);
// 			console.log(values);
			data.field.nameStr = names;
			data.field.valueStr = values;
			data.field.taskType = 'WXFRIENDCHECK';
			$.ajax({ 
				url: '/task/save', 
				data: data.field,
				dataType: 'json',
				success: function(result){
					layer.msg(result.msg);
					if(result.code == "000000"){
						setTimeout( function(){
							window.location.reload();
						}, 2 * 1000 );
					}
				}
			});
			
			return false;
		});
		
		var devices = "";
		//判断QQ添加好友任务是否存在
		function isTask(taskId){
			if(taskId == null || taskId == ''){
				return true;
			}
			var isSuccess = false;
			$.ajax({ 
				url: '/task/getAddFriendById', 
				data: {taskId: taskId, type: 2},
				dataType: 'json',
				async: false,
				success: function(result){
					if(result.code == '000000'){
						isSuccess = true;
						var data = result.data;
						if(data != null){
							devices = data.itemMap.devices;
							console.log(devices);
						}
					}else{
						layer.msg(result.msg);
					}
				}
			});
			return isSuccess;
		}
		
	});
		
</script>
</body>
</html>