<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title></title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
     <link rel="stylesheet" th:href="@{/layui/css/eleTree.css}">
   <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
   
</head>
<body><!-- 
活动面积页面<p th:text="${id}"></p> -->
	<form class="layui-form"  action="" lay-filter="accountdata" >
     <input type="hidden" name="hstate" id="hstate" th:value="${state}" autocomplete="off" class="layui-input">
     <input type="hidden" name="id" id="id" th:value="${id}" autocomplete="off" class="layui-input">
		<div>
			<button class="layui-btn" lay-submit=""  lay-filter="roleSave">保存</button>
			<button type="button" class="layui-btn layui-btn-primary" id="back">返回</button>
		</div>
		<hr>
    	<div>
    		<div class="layui-form-item">
    			<div class="layui-inline">
	    			<label class="layui-form-label">好友号码</label>
				    <div class="layui-input-inline">
				      <input type="text" name="account" id="account"  th:value="${account}" lay-verify="account|required"  placeholder="请输入好友号码" class="layui-input">
				    </div>
			    </div>
    		</div>
    		    		
    		 <div class="layui-form-item">
    			<div class="layui-inline">
	    			<label class="layui-form-label">备注名称</label>
				    <div class="layui-input-inline">
				      <input type="text" name="remark" id="remark"  th:value="${remark}" lay-verify="remark|required"  placeholder="请输入备注名称" class="layui-input">
				    </div>
			    </div>
    		</div>
    		
    		<div class="layui-form-item">
    			<div class="layui-inline">
	    			<label class="layui-form-label">申请用语</label>
				    <div class="layui-input-inline">
				      <input type="text" name="applicationTerms" id="applicationTerms"  th:value="${applicationTerms}" lay-verify="applicationTerms|required"  placeholder="请输入申请用语" class="layui-input">
				    </div>
			    </div>
    		</div>
    		
    		<div class="layui-form-item">
    			<div class="layui-inline">
	    			<label class="layui-form-label">状态</label>
				    <div class="layui-input-inline">
				     <select id="state"  name="state">
						<option value="1">新增</option>
						<option value="2">已分配未增加</option>
						<option value="3">已申请添加</option>
						<option value="4">添加成功</option>
						<option value="6">已回复</option>
						<option value="5">添加失败</option>
					 </select>
				    </div>
			    </div>
    		</div>
    		
    	</div>
    </form>
    <script th:inline="none">
	layui.config({
	    base: '/js/' //这是自定义模块的路径了
	}).use(['form', 'layedit','tree','laydate','jquery','element','eleTree'], function(){
			var form = layui.form
			,layer = layui.layer
			,eleTree = layui.eleTree
			,layedit = layui.layedit
			,laydate = layui.laydate
			,$ = layui.jquery
			,element = layui.element;
			
			
			$("#state").val($("#hstate").val());
			form.render('select');
			
			//监听提交
		    form.on('submit(accountdata)', function(data){
		    	
		       $.ajax({
		    		   url:'/qqAccountData/edit'
		    		  ,data:{
		    			  id:$("#id").val(),
		    			  remark:$("#remark").val(),
		    			  account:$("#account").val(),
		    			  applicationTerms:$("#applicationTerms").val(),
		    			  state:$("#state").val()
		    			  }
					  ,dataType: 'json'
		              ,beforeSend:function () {
		                  this.layerIndex = layer.load(0, {shade: [0.5, '#393D49']});
		              }
		              ,success:function(data){
		            	  layer.msg(data.msg);
		            	  layer.close(this.layerIndex);
		            	  if(data.code == "000000"){
			            	  window.location.href='/qqAccountData/accountlst';
		            	  }else{
		            		  layer.msg(data.msg); 
		            	  }
		              }
		              ,complete: function (){
		            	  layer.close(this.layerIndex);
		              }
		       })
			   return false;
			 }); 

		  //监听提交
		  $("#back").on('click',function(){
		    window.location.href='/qqAccountData/accountlst';
		  });
	});
    </script>
</body>
</html>        