<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title></title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
   <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
   <script type="text/javascript" th:src="@{/js/dateFormat.js}"></script>
   <script type="text/javascript" th:src="@{/js/echarts/echarts.min.js}"></script>
</head>
<body>

<form class="layui-form">
<div class="layui-inline">
	<input class="layui-input" id="targetAccount" autocomplete="off" placeholder="添加到目标QQ">
</div>

<div class="layui-inline">
    <select id="state" name="state" >
		<option value="">请选择状态</option>
		<option value="1">正常</option>
		<option value="0">解冻</option>
	</select>
</div>

<a class="layui-btn" id="searchBtn" data-type="getInfo">
   <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
</a>
<button type="button" class="layui-btn layui-btn-normal" id="impQQAccount" lay-filter="impQQAccount">
	<i class="layui-icon layui-icon-upload " ></i>
	批量导入
</button>

<button type="button" class="layui-btn layui-btn-primary" id="downMould" lay-filter="downMould">
	<i class="layui-icon layui-icon-download-circle" ></i>
	模板下载
</button>

</form>

  <div id="tableDiv" > 
     <table class="layui-table"  id="table" lay-filter="test"></table>
  </div>
  
  <div id="echartDiv" style="margin:20px 0px 0px 5px;width:100%;height:600px;" > 
     
  </div>

<script type="text/html" id="opColumn">
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit">编辑 </a>
	<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除 </a>
</script>

<script th:inline="none">
	layui.use(['laydate', 'laypage', 'layer', 'table', 'upload', 'element', 'slider', 'jquery','form'], function(){
		var laydate = layui.laydate //日期
		,laypage = layui.laypage //分页
		,layer = layui.layer //弹层
		,table = layui.table //表格
		,upload = layui.upload //上传
		,element = layui.element //元素操作
		,slider = layui.slider //滑块
		,$ = layui.jquery
		,form = layui.form
		,isEcharts = false; 
		form.render("select"); 
		
		table.render({
			elem: '#table'
			,url: '/qqAccountData/getlstForQQfriend'
			,page: true
			,toolbar: 'default' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
			,cols: [[
				 {type:'checkbox', align:'center',fixed: 'left'}
			    ,{field:'id', title: 'ID', width:80, sort: true }
			    ,{field:'qqAccount', title: '添加到目标QQ号'}
			    ,{field:'pwd', title: '密码'}
			    ,{field:'state',title:'状态', templet: 
			    	function(row){
			    		if(row.state == 1){
			    			return '<a class="layui-btn layui-btn-xs layui-btn-normal">正常</a>';
			    		}else if(row.state == 0){
			    			return '<a class="layui-btn layui-btn-xs layui-btn-primary">冻结</a>'
			    		}
			    		return '';
			    	}	
			    }
			    ,{field:'createTime',title:'创建时间', templet: 
			    	function(row){
			    		return createTime(row.createTime);
			    	}	
			    },
			    {field:'upateTime',title:'更新时间', templet: 
			       function(row){
		    		    return createTime(row.updateTime);
		    	   }	
		        }
			]]
		});
		
		//监听单元格编辑
		table.on('edit(device)', function(obj){
			var value = obj.value //得到修改后的值
			,data = obj.data //得到所在行所有键值
			,field = obj.field; //得到字段
			saveOrEdit(data);
		});
		
		//监听头工具栏事件
        table.on('toolbar(test)', function(obj){
          var checkStatus = table.checkStatus(obj.config.id)
          ,data = checkStatus.data; //获取选中的数据
          switch(obj.event){
            case 'add':
            	add();
            break;
            case 'update':
              if(data.length === 0){
                layer.msg('请选择一行');
              } else if(data.length > 1){
                layer.msg('只能同时编辑一个');
              } else {
            	  update(data[0]);
              }
              
            break;
            case 'delete':
              if(data.length === 0){
                 layer.msg('请选择一行');
              } else {
            	layer.confirm('确认要删除？', {
            	 btn: ['确定', '取消'] //按钮
            	}, function () {
                  del(data);
            	}, function () {
            	});
              }
            break;
          };
        });
		
          /**
            * 删除
			*/
			function del(data){
				var ids = "";
				for(var i = 0 ;i<data.length;i++){
					ids = ids + data[i].id + ',';
				}
				
				$.ajax({
					url:'/qqAccountData/delQQTarget'
					,data:{ids:ids}
					,beforeSend:function () {
					   this.layerIndex = layer.load(0, {shade: [0.5, '#393D49']});
					}
					,success:function(data){
						  if(data.code == "000000"){
							  reload(1);
						  }
						  layer.msg(data.msg);
						  layer.close(this.layerIndex);
					}
					,complete: function (){
						  layer.close(this.layerIndex);
					}
				})
			} 
		
		//新增或编辑
		function saveOrEdit(data){
			//参数验证
			if(data.deviceNum == null || data.deviceNum.trim() == ""){
				layer.msg("请填写设备编号");
				return false;
			}else if(data.deviceType == null || data.deviceType.trim() == ""){
				layer.msg("请填写设备型号");
				return false;
			}
			
			delete data.onlineTime;
			
			$.ajax({ 
				url: '/device/edit', 
				data: data,
				dataType: 'json',
				success: function(result){
					layer.msg(result.msg);
		        	if(result.code == "000000"){
		        		reload();
		        	}
				}
			});
		}
		
		//查询按钮监听
		$('#searchBtn').on('click', function () {
        	reload()
        });
		
		function add(){
	       window.location.href='/qqAccountData/targetQQAccountAdd';
	    } 
		
		//刷新
		function reload () {
			console.log("刷新");
			table.reload('table', {
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            	, where: {
            		qqAccount: $("#targetAccount").val()
	             	,state: $("#state").val()
                }
            });
     	}
		
		function update(data){
	       window.location.href='/qqAccountData/redirectQQTarget?id='+data.id+"&qqAccount="+data.qqAccount+"&state="+data.state+"&pwd="+data.pwd;
	    }
	 	
        //模板下载按钮监听
		$('#downMould').on('click', function(){
			window.location.href = "/mould/QQACCOUNTTEPMLE.xlsx";
		});
        
		//批量导入文件上传
		upload.render({
			 elem: '#impQQAccount'
			,url: '/qqAccountData/impExcel'
			,done: function(res, index, upload){ //上传后的回调
				layer.msg(res.msg);
	        	if(res.code == "000000"){
	        		reload();
	        	}
			} 
			,accept: 'file' //允许上传的文件类型
			,exts: 'xls|xlsx' //允许上传的文件后缀
		});
	 	

	});
</script>
</body>
</html>        