<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title></title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
     <link rel="stylesheet" th:href="@{/layui/css/eleTree.css}">
   <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
   
</head>
<body><!-- 
活动面积页面<p th:text="${id}"></p> -->
	<form class="layui-form"  action="" lay-filter="accountdata" >
     <input type="hidden" name="id" id="id" th:value="${id}" autocomplete="off" class="layui-input">
      <input type="hidden" name="permIds" id="permIds" autocomplete="off" class="layui-input">
		<div>
			<button class="layui-btn" lay-submit=""  lay-filter="roleSave">保存</button>
			<button type="button" class="layui-btn layui-btn-primary" id="back">返回</button>
		</div>
		<hr>
    	<div>
    	   <div class="layui-form-item">
    		  <div class="layui-inline">
			      <textarea placeholder="格式1:QQ号*密码&#13;65478998*密码&#13;" 
			      rows="20" cols="100" id="info"  name="info"   th:value="${descr}" class="layui-textarea"></textarea>

			   </div>
  			</div>
    	</div>
    </form>
    <script th:inline="none">
	layui.config({
	    base: '/js/' //这是自定义模块的路径了
	}).use(['form', 'layedit','tree','laydate','jquery','element','eleTree'], function(){
			var form = layui.form
			,layer = layui.layer
			,eleTree = layui.eleTree
			,layedit = layui.layedit
			,laydate = layui.laydate
			,$ = layui.jquery
			,element = layui.element;
			
			
			//监听提交
		    form.on('submit(accountdata)', function(data){
		       info = $("#info").val();
		       $.ajax({
		    		   url:'/qqAccountData/saveTargetQQ'
		    		  ,data:{info: info}
		              ,beforeSend:function () {
		                  this.layerIndex = layer.load(0, {shade: [0.5, '#393D49']});
		              }
		              ,success:function(data){
		            	  layer.msg(data.msg);
		            	  layer.close(this.layerIndex);
		            	  if(data.code == "000000"){
			            	  window.location.href='/qqAccountData/toTargetQQAccountList';
		            	  }else{
		            		  layer.msg(data.msg); 
		            	  }
		              }
		              ,complete: function (){
		            	  layer.close(this.layerIndex);
		              }
		       })
			   return false;
			 }); 
			
			

		  //监听提交
		  $("#back").on('click',function(){
		    window.location.href='/qqAccountData/toTargetQQAccountList';
		  });
	});
    </script>
</body>
</html>        