
/* 背景 */
.bg {
    background-image: url('/activityPage/turntable/image/bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top center;
/*     background-attachment: local; */
}

.fill {
	height: 35%;
	position:relative;
}

/* 后退 */
.backBtn {
	top: 5%;
}

/* 菜单 */
.menuBtn {
	top: 25%;
}
.menu {
	top: 25%;
}


/* 活动规则 */
.ruleBtn {
	width: 5em;
	height: 2em;
	background-image: url('/activityPage/turntable/image/rule_btn.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top center;
	position: absolute;
	right: 0;
	top: 5%;
	text-align: center;
	font-size: 1em;
	cursor:pointer;
}

/* 活动时间 */
.ribbon {
	position: absolute;
	bottom: 0;
	width: 80%;
	margin-left: 10%;
	text-align: center;
	padding: 5px 0;
	background-color: #ff910f;
	border-radius: 0.5em;
}
.activityTime {
    text-align: center;
    font-family: PingFang-SC-Bold;
    color: #fbfbfb;
    font-size: 0.8em;
    font-weight: normal;
	font-stretch: normal;
	line-height: 1.5em;
}
.activityTime .time {
	color: #ff910f;
	background-color: #fff;
	padding: 2px;
	margin-right: 5px;
	border-radius: 2px;
}
.activityTime .beginTiem {
	width: 50%;
	float: left;
	text-align: center;
}
.activityTime .endTiem {
	width: 50%;
	float: right;
	text-align: center;
}
.activityTime #msg {
	display: none;
}

/* 中奖公告 */
.scrollBar {
	position: absolute;
	bottom: 2.5em;
	width: 100%;
	text-align: center;
}
.scrollBar .bar {
	margin-left: 10%;
	width: 80%;
	height: 1.6em;
    background-color: rgba(0,0,0,0.3);
    border-radius: 0.8em;
}
.scrollBar .bar img{
	height: 16px;
	float: left;
    margin-left: 10px;
    margin-top: 5px;
}
.scrollBar .bar .record {
	color: #fbfbfb;
	line-height: 1.6em;
    width: 85%;
    padding-left: 5px;
    height: 1.6em;
    text-align: left;
    overflow: hidden;
}
.scrollBar .bar .record .msg{
    letter-spacing: 1px;
    font-size: 0.8em;
    color: #fff;
    float: left;
    width: 100%;
    overflow: hidden;
    display: inline-block;
	white-space : nowrap;
	text-overflow:ellipsis;
	overflow: hidden; 
}
.scrollBar .bar .record .name{
    color: yellow;
}

/* 转盘 */
.turntable {
	position: relative;
	height: 45%;
	width: 100%
}
/* 5格转盘 */
.turntable5{
	height: 100%;
	margin-top: 1em;
	background-image: url('/activityPage/turntable/image/turntable_5.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    justify-content: center;
    align-items: Center;
}
.turntable5 .box{
	position: relative;
	width: 70%;
	height: 70%;
	text-align: center;
}
.turntable5 .box .sector {
	position: absolute;
	width: 55%;
	height: 100%;
	overflow: hidden;
	left: 50%;
	top: 0px;
	transform-origin: left center;
}
.turntable5 .box .sector:nth-child(1) {
	transform: rotate(-45deg);
}
.turntable5 .box .sector:nth-child(2) {
	transform: rotate(27deg);
}
.turntable5 .box .sector:nth-child(3) {
	transform: rotate(99deg);
}
.turntable5 .box .sector:nth-child(4) {
	transform: rotate(171deg);
}
.turntable5 .box .sector:nth-child(5) {
	transform: rotate(243deg);
}
.turntable5 .box .sector-inner {
	text-align: center;
	display: block;
	width: 35%;
	height: 100%;
	transform: translateX(-100%) rotate(60deg);
	transform-origin: right center;
}
.turntable5 .box .sector-inner span {
	display: block;
	transform-origin: center;
	transform: rotate(-16deg);
	color: #fff;
	font-size: 0.6em;
	white-space : nowrap;
	text-overflow:ellipsis;
	overflow: hidden; 
	width: 100%;
	text-align: center;
}
.turntable5 .box .sector-inner img {
	display: block;
	transform-origin: center;
	transform: rotate(-16deg);
	width: 70%;
	max-height: 20%;
	margin-left: 1em;
	margin-top: 0.5em;
}
/* 6格转盘 */
.turntable6{
	height: 100%;
	margin-top: 1em;
	background-image: url('/activityPage/turntable/image/turntable_6.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    justify-content: center;
    align-items: Center;
}
.turntable6 .box{
	position: relative;
	width: 70%;
	height: 70%;
	text-align: center;
}
.turntable6 .box .sector {
	position: absolute;
	width: 55%;
	height: 100%;
	overflow: hidden;
	left: 50%;
	top: 0px;
	transform-origin: left center;
}
.turntable6 .box .sector:nth-child(1) {
	transform: rotate(-46deg);
}
.turntable6 .box .sector:nth-child(2) {
	transform: rotate(14deg);
}
.turntable6 .box .sector:nth-child(3) {
	transform: rotate(74deg);
}
.turntable6 .box .sector:nth-child(4) {
	transform: rotate(134deg);
}
.turntable6 .box .sector:nth-child(5) {
	transform: rotate(194deg);
}
.turntable6 .box .sector:nth-child(6) {
	transform: rotate(254deg);
}
.turntable6 .box .sector-inner {
	text-align: center;
	display: block;
	width: 35%;
	height: 100%;
	transform: translateX(-100%) rotate(60deg);
	transform-origin: right center;
}
.turntable6 .box .sector-inner span {
	display: block;
	transform-origin: center;
	transform: rotate(-14deg);
	color: #fff;
	font-size: 0.6em;
	white-space : nowrap;
	text-overflow:ellipsis;
	overflow: hidden; 
	width: 100%;
	text-align: center;
}
.turntable6 .box .sector-inner img {
	display: block;
	transform-origin: center;
	transform: rotate(-14deg);
	width: 60%;
	max-height: 20%;
	margin-left: 30%;
	margin-top: 0.5em;
}
/* 7格转盘 */
.turntable7{
	height: 100%;
	width: 100%;
	margin-top: 1em;
	background-image: url('/activityPage/turntable/image/turntable_7.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    justify-content: center;
    align-items: Center;
}

.turntable7 .box{
	position: absolute;
	width: 70%;
	height: 70%;
	text-align: center;
}
.turntable7 .box .sector {
	position: absolute;
	width: 55%;
	height: 100%;
	overflow: hidden;
	left: 50%;
	top: 0px;
	transform-origin: left center;
}
.turntable7 .box .sector:nth-child(1) {
	transform: rotate(-46deg);
}
.turntable7 .box .sector:nth-child(2) {
	transform: rotate(7deg);
}
.turntable7 .box .sector:nth-child(3) {
	transform: rotate(56deg);
}
.turntable7 .box .sector:nth-child(4) {
	transform: rotate(107deg);
}
.turntable7 .box .sector:nth-child(5) {
	transform: rotate(158deg);
}
.turntable7 .box .sector:nth-child(6) {
	transform: rotate(211deg);
}
.turntable7 .box .sector:nth-child(7) {
	transform: rotate(264deg);
}
.turntable7 .box .sector-inner {
	text-align: center;
	display: block;
	width: 35%;
	height: 100%;
	transform: translateX(-100%) rotate(60deg);
	transform-origin: right center;
}
.turntable7 .box .sector-inner span {
	display: block;
	transform-origin: center;
	transform: rotate(-15deg);
	color: #fff;
	font-size: 0.6em;
	white-space : nowrap;
	text-overflow:ellipsis;
	overflow: hidden; 
	width: 100%;
	text-align: center;
}
.turntable7 .box .sector-inner img {
	display: block;
	transform-origin: center;
	transform: rotate(-15deg);
	width: 55%;
	max-height: 20%;
	margin-top: 0.5em;
	margin-left: 1em;
}
.frame {
	position: absolute;
	top: 5px;
	width: 100%;
	height: 51%;
	text-align: center;
	
}
.frame img {
	height: 100%;
}
.start {
	position: absolute;
	top: 25%;
	width: 100%;
	height: 50%;
	text-align: center;
}
.start img {
	margin-top: 6%;
	height: 70%;
	cursor:pointer;
}

/* 转盘次数 */
.times {
	width: 100%;
	text-align: center;
	color: #fbfbfb;
	font-size: 1.2em;
    margin-top: 0.5em;
    font-family: PingFang-SC-Bold;
    font-weight: normal;
	font-stretch: normal;
	letter-spacing: 2px;
	margin-bottom: 10px;
}
.times #times {
	color: #fff175;
}

/* 我的奖品 */
.myReward {
	width: 5.2em;
	height: 2.4em;
	line-height: 2.4em;
	background-color: #fdb911;
	border-radius: 1.2em 0px 0px 1.2em;
	color: rgba(202, 24, 0, 1);
	position: absolute;
	right: 0px;
	top: 0;
	text-align: center;
	font-size: 0.8em;
	cursor:pointer;
	z-index: 8;
}

/* 奖品列表 */
.checkReward {
	width: 45%;
	float: right;
	text-align: right;
	padding-right: 5%;
}
.checkReward div {
	height: 2.5em;
	line-height: 2.5em;
	font-size: 1em;
	color: #602b08;
	font-family: PingFang-SC-Bold;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: top center;
}
.checkReward img {
	width: 70%;
}

/* 关闭按钮 */
.close {
	position: relative;
	top: 20%;
	padding-left: 45%;
	text-align: left;
}
.close img {
	height: 32px;
	width: 32px;
	cursor:pointer;
}

/* 中奖弹窗 */
.gitReward {
	position: absolute;
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/activityPage/turntable/image/reward_bg.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: centent;
    z-index: 10;
    display: none;
}
.gitReward .rewardCon {
	width: 38%;
    margin-left: 32%;
    position: inherit;
    top: 50%;
	text-align: center;
	font-family: FZLTZHK--GBK1-0;
	font-size: 1.2em;
	font-weight: bold;
	font-stretch: normal;
	line-height: 1.6em;
	letter-spacing: 0px;
	color: #fd7b36;
	display: inline-block;
	white-space : nowrap;
	text-overflow:ellipsis;
	overflow: hidden; 
}
.gitReward .rewardCon div{
	font-size: 1em;
	margin-bottom: 5px;
}
.gitReward .closeBtn {
	position: relative;
	top: 70%;
	margin-left: 35%;
	width: 30%;
	height: 2.2em;
	line-height: 2.2em;
	font-size: 1em;
	letter-spacing: 2px;
	color: #fefefe;
	text-align: center;
	border-radius: 1em;
	background: linear-gradient(to left, #ff5f00, #f7b891);
	cursor:pointer;
}

/* 登录弹窗 */
.login {
	position: absolute;
	top: 30%;
    left: 10%;
    width: 80%;
    height: 220px;
    z-index: 10;
    text-align: center;
    border-radius: 5px;
    background-image: url('/activityPage/turntable/image/login_bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    display: none;
}
.login .nameBox {
	margin-top: 30%;
	width: 80%;
	height: 2.5em;
	line-height: 2.5em;
	margin-left: 10%;
	background-color: rgba(0,0,0,0.2);
	border-radius: 1.2em;
	text-align: left;
}
.login .nameBox img{
	width: 2em;
	margin-left: 10px;
	margin-right: 5px;
}
.login .nameBox input{
	width: 75%;
	background:none;
	outline:none;
	border:0px;
	color: #ffffff;
	height: 2em;
	font-size: 1em;
}
.login .nameBox input[type="text"]:focus{
	outline: none;
	color: #ffffff;
}
.login .loginBtn{
	width: 100%;
	height: 40%;
	margin-top: 10%;
	text-align: center;
}
.login .loginBtn div {
	font-size: 0.8em;
	width: 30%;
	margin-left: 35%;
	height: 2.5em;
	line-height: 2.5em;
	border-radius: 1em;
	color: #fff;
	background-image: url('/activityPage/turntable/image/button.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    cursor:pointer;
}

/* 规则弹窗 */
.ruleBox {
	position: absolute;
	top: 20%;
    left: 10%;
    width: 80%;
    height: 60%;
    z-index: 10;
    background-image: url('/activityPage/turntable/image/rule_bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: left;
    display: none;
}
.ruleBox .centent {
	width: 80%;
	height: 78%;
	margin-left: 10%;
	margin-top: 20%;
	overflow-y: auto;
	color: #fff;
	font-size: 0.8em;
}

/* 中奖记录弹窗 */
.recordBox {
	position: absolute;
	top: 20%;
    left: 10%;
    width: 80%;
    height: 60%;
    z-index: 10;
    text-align: center;
    background-image: url('/activityPage/turntable/image/record_bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    display: none;
}
.recordBox .centent {
	width: 80%;
	height: 78%;
	margin-left: 10%;
	margin-top: 20%;
	overflow-y: auto;
	overflow-x: hidden;
	color: #fff;
	font-size: 0.8em;
}
.recordBox .centent .row {
	width: 98%;
	height: 2em;
	border-radius: 13px;
	color: #fff;
	font-size: 0.8em;
	margin-top: 5px;
}
.recordBox .centent .row .time{
	width: 50%;	
	float: left;
	line-height: 1.8em;
}
.recordBox .centent .row .reward{
	width: 25%;	
	height: 100%;
	line-height: 1.8em;
	text-align: left;
	color: #ffde00;
	float: left;
	padding-right: 5px;
	display: inline-block;
	white-space : nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
}
.recordBox .centent .row .isSend{
	width: 3em;	
	height: 100%;
	line-height: 1.8em;
	text-align: right;
	color: #ffde00;
	float: right;
	padding-right: 5px;
	display: inline-block;
	white-space : nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
}

/* 查看奖品弹窗 */
.rewardBox {
	position: absolute;
	top: 30%;
    left: 15%;
    width: 70%;
    height: 220px;
    z-index: 10;
	background-image: url('/activityPage/goldenEgg/image/reward_list.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    display: none;
}
.rewardBox .centent {
	margin-top: 30%;
    width: 100%;
    height: 120px;
}
.rewardBox .centent .leftBtn {
	width: 16px;
	float: left;
	margin-left: 5%;
	margin-top: 20%;
}
.rewardBox .centent .leftBtn img{
	width: 100%;
}
.rewardBox .centent .rewards {
	width: 75%;
	height: 80%;
/* 	background: #fff; */
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 12%;
	float: left;
}
.rewardBox .centent .rewards .reward {
	width: 30%;
	height: 75%;
	margin-left: 2%;
	margin-top: 5px;
	float: left;
}

.rewardBox .centent .rewards .reward .rewardImg {
	width: 100%;
	height: 80%;
	display: flex;
    justify-content: center;
    align-items: Center;
}
.rewardBox .centent .rewards .reward  .rewardImg img{
/* 	background-color: #777777; */
	border-radius: 5px;
	max-width: 90%;
	max-height: 100%;
}
.rewardBox .centent .rewards .reward .title{
	color: #fbfbfb;
	font-size: 0.8em;
	display: inline-block;
	white-space : nowrap;
	text-overflow:ellipsis;
	overflow: hidden; 
	width:100%;
}

.rewardBox .centent .rightBtn {
	width: 16px;
	float: left;
	margin-top: 20%;
}
.rewardBox .centent .rightBtn img {
	width: 100%;
}

/* 输入框样式 */
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #fff;
}