<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title></title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
   <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
   <script type="text/javascript" th:src="@{/js/dateFormat.js}"></script>
   <script type="text/html" id="barDemo">

  {{#  if(d.roleName != "Administrator"){ }}
  {{#  if(d.state){ }}
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="unValide">禁用</a>
  {{#  }else{ }}
  	<a class="layui-btn layui-btn-xs" lay-event="valide">启用</a>
  {{#    } }}
  {{#    } }}
</script>
</head>
<body>

 <div class="layui-inline"> 
  <input class="layui-input"    name="roleName" autocomplete="off" placeholder="请输入角色名"> 
 </div>
  <button class="layui-btn" id="searchBtn" data-type="getInfo" >
     <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
  </button>
  
<table class="layui-table" id="table" lay-filter="test"></table>
<script th:inline="none">
	layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element', 'slider'], function(){
		  var laydate = layui.laydate //日期
		  ,laypage = layui.laypage //分页
		  ,layer = layui.layer //弹层
		  ,table = layui.table //表格
		  ,element = layui.element //元素操作
		  ,slider = layui.slider //滑块
		  ,$ = layui.jquery; 
		  
		  table.render({
		    elem: '#table'
		    ,url: '/role/grid' //数据接口
		    ,page: true //开启分页
		    ,toolbar: 'default' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
		    ,cols: [[ //表头
		    	  {type: 'checkbox', fixed: 'left'}
			      ,{field:'roleName',title: '角色名称'}
			      ,{field:'desc', title:'描述'}
			      ,{field:'createTime', title:'创建时间',templet :function (row){
                      return createTime(row.createTime);
                  }  
			      }
			      ,{field:'state', title: '是否禁用',align:'center',templet:function(data){
			    	  if(data.state)  {
			    		  return '<span class="layui-badge layui-bg-green">启用</span>'
			    	  }else{
			    		  return '<span class="layui-badge layui-bg-red">禁用</span>'
			    	  }
			    	  
			        }}
			      ,{fixed: 'right', title: '操作项',align:'center', toolbar: '#barDemo'}
		    ]]
		  });
		  
		  /**
		   * 搜索框重新加载 
		   */
         function reload (curr) {
               //执行重载
               table.reload('table', {
                   page: {
                       curr: curr //重新从第 1 页开始
                   }
                   , where: {
                	   roleName: $("input[name=roleName]").val()
                   }
               });
        }
		  
        $('#searchBtn').on('click', function () {
        	reload(1)
        });

        //监听头工具栏事件
        table.on('toolbar(test)', function(obj){
          var checkStatus = table.checkStatus(obj.config.id)
          ,data = checkStatus.data; //获取选中的数据
          switch(obj.event){
            case 'add':
            	add();
            break;
            case 'update':
              if(data.length === 0){
                layer.msg('请选择一行');
              } else if(data.length > 1){
                layer.msg('只能同时编辑一个');
              } else {
            	  update(data[0]);
              }
              
            break;
            case 'delete':
              if(data.length === 0){
                 layer.msg('请选择一行');
              } else {
            	layer.confirm('确认要删除？', {
            	 btn: ['确定', '取消'] //按钮
            	}, function () {
                  del(data);
            	}, function () {
            	});
              }
            break;
          };
        });
        
        /**
                           *监听事件操作项
         */
        table.on('tool(test)', function(obj){ 
        	var layEvent = obj.event;
        	var data = obj.data;
        	//禁用
        	if(layEvent == 'unValide'){
        		handle(data.id,false,'valide');
        	}
        	//启用
        	if(layEvent == 'valide'){
        		handle(data.id,true,'valide');
        	}
        	
        });
        
        //操作项操作
        function handle(id,value,type){
        	$.ajax({
     		    url:'/role/updateState'
               ,data:{id:id,type:type,value:value}
               ,beforeSend:function () {
                   this.layerIndex = layer.load(0, {shade: [0.5, '#393D49']});
               }
               ,success:function(data){
             	  if(data.code == "000000"){
             		  reload($(".layui-laypage-skip .layui-input").val());
             	  }
             	  layer.msg(data.msg);
             	  layer.close(this.layerIndex);
               }
               ,complete: function (){
             	  layer.close(this.layerIndex);
               }
     	  })
        }
        
       /**
                        * 删除
        */
       function del(data){
    	 var ids = "";
    	 for(var i = 0 ;i<data.length;i++){
    	 	ids = ids + data[i].id + ',';
    	 }
    	 $.ajax({
    		   url:'/role/del'
              ,data:{ids:ids}
              ,beforeSend:function () {
                  this.layerIndex = layer.load(0, {shade: [0.5, '#393D49']});
              }
              ,success:function(data){
            	  if(data.code == "000000"){
            		  reload(1);
            	  }
            	  layer.msg(data.msg);
            	  layer.close(this.layerIndex);
              }
              ,complete: function (){
            	  layer.close(this.layerIndex);
              }
    	 })
      } 
       
       function add(data){
    	   window.location.href='/role/redirect?roleId=0';
       } 
      
       function update(data){
    	   window.location.href='/role/redirect?roleId='+data.id+"&roleName="+data.roleName+"&descr="+data.desc;
       }
	});
</script>
</body>
</html>