<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title></title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
     <link rel="stylesheet" th:href="@{/layui/css/eleTree.css}">
   <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
   
</head>
<body><!-- 
活动面积页面<p th:text="${id}"></p> -->
	<form class="layui-form"  action="" lay-filter="roleForm" >
     <input type="hidden" name="id" id="id" th:value="${id}" autocomplete="off" class="layui-input">
      <input type="hidden" name="permIds" id="permIds" autocomplete="off" class="layui-input">
		<div>
			<button class="layui-btn" lay-submit=""  lay-filter="roleSave">保存</button>
			<button type="button" class="layui-btn layui-btn-primary" id="back">返回</button>
		</div>
		<hr>
    	<div>
    		<div class="layui-form-item">
    			<div class="layui-inline">
	    			<label class="layui-form-label">角色名</label>
				    <div class="layui-input-inline">
				      <input type="text" name="roleName"  th:value="${roleName}" lay-verify="roleName|required"  placeholder="请输入角色名称" class="layui-input">
				    </div>
			    </div>
    		</div>
    		    		
    		 <div class="layui-form-item">
    		  <div class="layui-inline">
			    <label class="layui-form-label">描述</label>
			    <div class="layui-input-block">
			      <textarea placeholder="请输入内容"  name="desc"  th:text="${descr}" class="layui-textarea"></textarea>
			    </div>
			   </div>
  			</div>
    		
    		<div class="layui-form-item" >
			    <label class="layui-form-label">权限选择</label>
			    <div class="layui-input-block" >
			     <div class="eleTree ele1" lay-filter="data1" style="height:500px;overflow-y:auto;"></div>
			    </div>
  			</div>
    		
    	</div>
    </form>
	<script th:inline="none">
	layui.config({
	    base: '/js/' //这是自定义模块的路径了
	}).use(['form', 'layedit','tree','laydate','jquery','element','eleTree'], function(){
			var form = layui.form
			,layer = layui.layer
			,eleTree = layui.eleTree
			,layedit = layui.layedit
			,laydate = layui.laydate
			,$ = layui.jquery
			,element = layui.element;
			
			//自定义验证规则
			form.verify({
				roleName:function(value){
					if(!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)){ 
						return '用户名不能有特殊字符'; 
				    } 
				}
		   }); 
			
			//监听提交
		    form.on('submit(roleSave)', function(data){
		    	 data.field.id = $("#id").val();
		    	 data.field.permIds = addStrs +";"+delStrs;
		       $.ajax({
		    		   url:'/role/roleSaveAndUpdate'
		    		  ,data: data.field
					  ,dataType: 'json'
		              ,beforeSend:function () {
		                  this.layerIndex = layer.load(0, {shade: [0.5, '#393D49']});
		              }
		              ,success:function(data){
		            	  layer.msg(data.msg);
		            	  layer.close(this.layerIndex);
		            	  if(data.code == "000000"){
			            	  window.location.href='/role/list';
		            	  }
		              }
		              ,complete: function (){
		            	  layer.close(this.layerIndex);
		              }
		       })
			   return false;
			 }); 
			

		 //监听提交
		 $("#back").on('click',function(){
		   window.location.href='/role/list';
		 });
		
		 var have = new Array()
         var el = eleTree.render({
             elem: '.ele1',
             url:'/role/getPerm?id='+$("#id").val(),
             showCheckbox: true,
             defaultExpandAll: true,
             expandOnClickNode: false,
             highlightCurrent: true,
             checkStrictly: true,
           //  contextmenuList: ["copy","add","edit","remove"],
             done: function(res){
            	 var c = el.getChecked(false, true);
            	 for(var i=0;i<c.length;i++){
            		 have[i] = c[i].id;
            	 }
             }
         });
         
         
         var addStrs = "";
         var delStrs ;
         
		 //节点点击事件
		 eleTree.on("nodeChecked(data1)",function(d) {
			    index = "";
			    delStrs =copyArr(have)
			    addStrs = "";
			    var checked = el.getChecked(false, true);
			     for(var i=0;i<checked.length;i++){
			    	if(have.indexOf(checked[i].id)==-1){
			    		 addStrs = addStrs +","+ checked[i].id;
			    	}
			    	if(have.indexOf(checked[i].id)>=0){
			    	    delete delStrs[have.indexOf(checked[i].id)];
			    	} 
			    }
		   });
		 
		 function copyArr(arr) {
			    let res = []
			    for (let i = 0; i < arr.length; i++) {
			     res.push(arr[i])
			    }
			    return res
			}
		 
		 
		// 节点被编辑事件
		/*  eleTree.on("nodeEdit(data1)",function(d) {
		    alert();
		 })*/
		}); 
	</script>
</body>
</html>        